@charset "utf-8";
/* CSS Document 共通*/

body {
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
	font-size: 80%; /*ページ全体のフォントサイズ*/
	text-align: left;
	color: #000000;
	margin: 0;
	min-width: 1010px;
}

body.top {
	min-width: 1280px;
}

p {
	text-align: justify;
	text-justify: distribute;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}
ul,
li {
	list-style: none;
}

div,
p,
ul,
li,
img,
dl,
dt,
dd,
th,
td,
a,
h1,
h2,
h3,
table,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
}

br.clear {
	clear: both;
	font-size: 0px;
	height: 0;
}

.clearfix:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	font-size: 0.01em;
	height: 0;
	overflow: hidden;
}
.clearfix {
	min-height: 1px;
}
* html .clearfix {
	height: 1px;
}

a {
	text-decoration: none;
	color: #4c4c4c;
}

a:hover {
	color: #4c4c4c;
	text-decoration: underline;
}

table,
thead,
tbody,
th,
td {
	border-collapse: collapse;
}

img {
	vertical-align: top;
}
