@charset "utf-8";

/* ----------------------------------------------------------------------------
RESET
---------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&family=Noto+Serif+JP:wght@300;400;500;600;700&display=swap");

:root {
  --orange: #ff9312;
  --blue: #00afff;
  --p-fonts: "Noto Sans JP", sans-serif;
}
/*
html5doctor.com Reset Stylesheet
v1.4
2009-07-27
Author: Richard Clark - http://richclarkdesign.com
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
nav,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
body {
  font-size: 14px;
  color: #333333;
  font-family: "Noto Serif JP", serif, "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "游ゴシック体",
    YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",
    sans-serif;
  border-top: 6px #00aaed solid;
  padding-bottom: 148px;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
}
.clear {
  clear: both;
}
.bg_none {
  background: none !important;
}
strong {
  font-weight: 500;
}
.ct {
  text-align: center;
}
.pc {
  display: block;
}
.sp {
  display: none;
}

@media only screen and (max-width: 767px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  img {
    max-width: 100%;
  }
}

.inner,
.pc_wrap,
footer .inner,
header {
  width: 960px;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  body {
    padding-bottom: 90px;
  }
  .inner,
  .pc_wrap,
  footer .inner,
  header {
    width: 100%;
    margin: 0 auto;
    padding: 4%;
  }
  .inner {
    background-position: right;
    background-size: 30%;
  }
}

/* --------------------------------------------------------------------------------------------------------------------------------------
contents
----------------------------------------------------------------------------------------------------------------------------------------- */

/* header
---------------------------------------------------------------------------- */

header {
  width: 960px;
  margin: 0 auto;
  background: #fff;
}
.headlogo {
  margin: 0 auto;
  text-align: center;
}
.headlogo img {
  max-width: 235px;
  height: auto;
  padding: 0 17px 17px;
}
@media only screen and (max-width: 767px) {
  header {
    width: 100%;
  }
  header .headlogo {
    width: 55%;
    margin: 0 0 0 auto;
  }
  header .headlogo img {
    width: 87%;
    padding: 0;
  }
}

/* animation
---------------------------------------------------------------------------- */

.motion-txt {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.motion-txt:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 1;

  width: 100%;
  background-color: #292929;
  transform: translate3d(-101%, 0, 0);
}
.js-scroll.show .motion-txt:after {
  transition-property: transform, opacity;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transform: translate3d(0, 0, 0);
}
.js-scroll.done .motion-txt:after {
  transition-property: transform;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transform: translate3d(103%, 0, 0);
}
.motion-txt .motion-inner {
  display: inline-block;
  opacity: 0;
}
.js-scroll.done .motion-txt .motion-inner {
  opacity: 1;
}

/* main
---------------------------------------------------------------------------- */

.main {
  width: 100%;
  background: linear-gradient(
    181.03deg,
    #193076 5.09%,
    #18347a 7.43%,
    #125da0 34.97%,
    #0e7abb 60.01%,
    #0b8dcc 81.49%,
    #0a93d2 96.9%
  );
  border-bottom-right-radius: 1500px 300px;
  border-bottom-left-radius: 1500px 300px;
  overflow: hidden;
}
.main-inner {
  min-width: 960px;
  height: 475px;
  margin: 0 auto;
}
.main-tag {
  padding: 24px 0 11px;
  color: white;

  text-align: center;
  font-size: 19px;
  font-family: var(--p-fonts);
}
.main-img {
  position: relative;
  width: 960px;
  margin: 0 auto;
  text-align: center;
}
.main-ttl {
  margin: 0 auto;
  padding: 0;
}
.main-hanabi,
.main-female {
  position: absolute;
  margin: 0 auto;
  top: 159px;
  right: 0;
  left: 0;
  text-align: center;
}
.main-hanabi {
  top: -32px;
}

@media only screen and (max-width: 767px) {
  .main {
    height: 138vw;
    border-bottom-right-radius: 44vw 16%;
    border-bottom-left-radius: 44vw 16%;
    overflow: hidden;
  }
  .main-tag {
    padding: 3% 0;
    font-size: 5vw;
    line-height: 2;
  }
  .main-tag::before {
    content: "";
    display: block;
    position: absolute;

    width: 30px;
    height: 0;
    margin: auto;
    padding: 5px;
    top: 37%;
    right: 0;
    left: 0;

    border-top: 1px solid white;
  }
  .main-inner {
    position: relative;
    width: 100%;
    min-width: 0;
    height: 34vw;
  }
  .main-img {
    position: absolute;
    width: 100%;
    height: 117.5vw;
    margin-top: 24%;
    top: 0;
    left: 0;
    right: 0;
  }
  .main-female {
    bottom: 0;
    top: auto;
  }
  .main-img img {
    width: 100%;
  }
}

/* CTA
---------------------------------------------------------------------------- */

.btn_wrap {
  width: 960px;
  position: relative;
  margin: 0 auto;
}
.btn_area {
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}

.btn_entry {
  width: 37%;
  background: var(--orange);
  border-radius: 16px;
}

.btn_job_entry {
  width: 100%;
  background: var(--orange);
  border-radius: 16px;
}

.btn_float_entry {
  width: 500px;
  background: var(--orange);
  border-radius: 16px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
  font-size: 20px;
}

.btn_entry,
.btn_job_entry,
.btn_float_entry {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.btn_entry a,
.btn_float_entry a {
  padding: 24px 0;
}

.btn_job_entry a {
  padding: 18px 0;
  font-size: 18px;
}

.btn_entry a,
.btn_float_entry a {
  position: relative;
  display: block;

  width: 100%;
  padding-right: 24px;

  color: white;

  font-family: var(--p-fonts);
  font-size: 19px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1em;

  overflow: hidden;
  z-index: 2;

  transition: 0.25s linear;
  -webkit-transition: 0.25s linear;
  -moz-transition: 0.25s linear;
  -webkit-mask-repeat: space;
}

.btn_entry a span,
.btn_float_entry a span {
  width: 106px;
  height: 26px;
  margin: 10px;
  padding: 4px 8px 4px 10px;

  color: white;
  border: 1px solid;
  border-radius: 7px;

  font-size: 16px;
}

.btn_job_entry a {
  display: block;
  position: relative;
  width: 100%;

  color: white;

  font-family: var(--p-fonts);
  text-align: center;
  text-decoration: none;

  overflow: hidden;
  z-index: 2;

  transition: 0.25s linear;
  -webkit-transition: 0.25s linear;
  -moz-transition: 0.25s linear;
}

.btn_entry a::after,
.btn_job_entry a::after,
.btn_float_entry a::after {
  content: "";

  position: absolute;
  display: block;

  width: 0;
  height: 0;
  margin-top: -5px;
  padding: 5px;
  top: 50%;
  right: 15px;

  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.btn_entry:hover,
.btn_job_entry:hover,
.btn_float_entry:hover {
  opacity: 0.7;
  transition-duration: 0.3s;
  transition-delay: 0.6s;
}

@media only screen and (max-width: 767px) {
  .btn_wrap {
    width: 100%;
    padding: 30% 0 0;
  }
  .btn_area {
    position: absolute;

    margin: 0 auto;
    top: 13%;
    right: 0;
    bottom: 0;
    left: 0;

    font-weight: bold;
    line-height: 1;
    text-align: center;
  }
  .btn_entry {
    width: 90%;
  }
  .btn_entry a {
    color: white;
    font-size: 5vw;
    letter-spacing: 0;
  }
  .btn_entry a span,
  .btn_float_entry a span {
    font-size: 3vw;
  }
  .btn_float_entry {
    width: 96%;
    height: auto;
  }
  .btn_float_entry a {
    padding: 6% 0 5%;
    font-size: 4.3vw;
  }
  .btn_float_entry span {
    font-size: 3.5vw;
    line-height: 2;
  }
}

/* contents
---------------------------------------------------------------------------- */

.content_ttl {
  position: relative;
  padding-bottom: 4%;
}
.content_ttl h2 {
  position: relative;
  font-weight: 500;
  font-size: 27px;
  line-height: 46px;
  text-align: center;
}
#reason .inner .content_ttl h2 {
  position: relative;
  color: #b58e26;
  font-size: 38px;
  line-height: 36px;
  font-weight: 500;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .content_ttl {
    padding: 18% 0 10%;
  }
  .content_ttl h2 {
    font-size: 6vw;
  }
  .content_ttl h2 span {
    margin-left: 0;
    padding-left: 0;
    color: #194e8f;
    border: none;

    font-weight: normal;
    font-size: 4vw;
    line-height: 1.5;
  }
  .content_ttl::before {
    top: 0;
  }
  .content_ttl::after {
    bottom: 0;
  }
}

/* section-merit
---------------------------------------------------------------------------- */

.lead {
  background-color: white;
}
.lead-txt,
.lead-img {
  width: 48%;
  margin: 190px auto 0;
  vertical-align: top;
  text-align: center;
}
.lead-txt h2 {
  position: relative;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 40px;
  text-align: center;
}
.lead-txt p {
  margin-top: 21px;
  color: #292929;
  font-family: var(--p-fonts);
  font-size: 16px;
  line-height: 32px;
}

.lead-txt h2 span {
  background: linear-gradient(transparent 60%, #fff59e 60%);
}

.lead-img {
  text-align: right;
}
.merit-content {
  margin-top: 100px;
}
.acd-content > img {
  width: 100%;
  padding: 5%;
}
.acd-content p span {
  background: linear-gradient(transparent 60%, #cbf6ff 60%);
}

.merit-item {
  position: relative;
}

.merit-item .num {
  position: absolute;
  margin: 0 auto;
  top: -60px;
  left: 29%;
  color: #313131;

  font-family: Roboto;
  font-weight: bold;
  font-size: 30px;
}

@media only screen and (min-width: 768px) {
  .acd-label {
    display: block;
    padding: 37px 13px 16px 13px;
    color: #292929;
    font-weight: 600;
    font-size: 16.5px;
    line-height: 1.6;
    text-align: center;
  }
  .acd-label span.ls {
    font-size: 22px;
    letter-spacing: -2px;
  }
  .merit-content {
    display: flex;
    justify-content: space-evenly;
  }
  .merit-item {
    width: 281px;
    background-color: #f6f6f6;
    border-radius: 8px;
  }
  .merit-item.marit02 {
    margin-top: 3%;
  }
  .acd-content p {
    padding: 0 20px 20px;
    font-family: var(--p-fonts);
    font-size: 14px;
    line-height: 2;
  }
  .acd-content p:first-of-type {
    padding: 0 20px 17px;
  }
}

@media only screen and (max-width: 767px) {
  .lead {
    padding: 16% 0 17%;
  }
  .lead-txt h2 {
    font-size: 6vw;
    line-height: 1.6;
  }
  .lead-txt,
  .lead-img {
    display: block;
    width: 100%;
    margin-top: 13px;
  }
  .lead-img img {
    width: 100%;
  }
  .lead-txt p {
    margin-top: 30px;
    font-size: 3.7vw;
    line-height: 1.8;
    text-align: left;
  }
  .merit {
    background: none;
    border-top: none;
  }
  .merit-content {
    margin-top: 3%;
  }
  .merit .inner {
    padding: 0;
  }
  .merit .content_ttl {
    padding: 14% 4% 4%;
  }
  .acd-check {
    display: none;
  }
  .acd-label {
    position: relative;
    display: flex;
    align-items: center;

    margin: 3% 3%;
    padding: 3.5% 4%;

    color: #313131;
    background: #fffce1;
    border-radius: 8px;

    font-size: 4.2vw;
    font-weight: 500;
    line-height: 1.4;
  }
  .acd-label span:first-child {
    position: relative;

    width: 10vw;
    height: 10vw;
    margin-right: 2%;
    padding: 2% 5%;

    color: white;
    background: radial-gradient(
      99.75% 99.75% at 66.67% 0.25%,
      #dce3d2 0%,
      #9cccc5 39.46%,
      #00afff 100%
    );
    border-radius: 500px;
  }

  .acd-label span:first-child::before {
    content: "";
    position: absolute;
    height: 70px;
    width: 58px;
    margin: auto;
    top: -27px;
    right: -5px;
    background: url(/special/img/summer/point.png) no-repeat top center;
  }

  .acd-label:after {
    content: "";
    position: absolute;
    display: block;

    width: 3vw;
    height: 3vw;
    top: 38%;
    right: 6%;
    border-top: solid 2px var(--blue);
    border-right: solid 2px var(--blue);

    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transition: all 0.2s ease-in-out;
  }
  .acd-content {
    display: block;
    height: 0;
    padding: 0 10px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }
  .acd-content p {
    display: inline-block;
    margin-top: 3%;
    font-family: var(--p-fonts);
    font-size: 3.8vw;
    line-height: 1.7;
  }

  .acd-content img {
    display: inline-block;
    width: 100%;
    vertical-align: top;
  }

  .acd-content p > img {
    display: block;
    width: 100%;
  }
  .acd-check:checked + .acd-label::after {
    top: 49%;
    transform: rotate(-45deg);
  }
  .acd-check:checked + .acd-label + .acd-content {
    visibility: visible;
    height: 100%;
    margin: 0 3% 3% 3%;
    padding: 5%;
    background: #f6f6f6;
    border-radius: 8px;
    opacity: 1;
  }
  .merit-item .acd-check:checked + .acd-label span:first-child::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 70px;
    margin: auto;
    top: -55px;
    right: -35px;
    background: url(/special/img/summer/point_active.png) no-repeat top center;
  }
  .merit-item .num {
    position: absolute;
    top: 70px;
    right: 19px;
    left: auto;

    color: #313131;
    font-family: Roboto;
    font-weight: bold;
    font-size: 22px;

    z-index: 1;
  }
}

/* section-cta
---------------------------------------------------------------------------- */

.cta_area {
  margin: 70px auto;
}
.cta_area .inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cta_area p {
  margin: 16px;
  color: #6d6d6d;

  font-family: var(--p-fonts);
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  line-height: 31px;
}
.cta_area p span {
  color: var(--blue);
}
.cta_area .btn_area {
  position: static;
}
.cta_area .btn_area .btn_entry {
  width: 103%;
}

@media only screen and (max-width: 767px) {
  .cta_area .inner {
    display: block;
    width: 100%;
  }
  .cta_area .btn_area .btn_entry {
    width: 100%;
  }
  .cta_area p {
    margin: 0 0 6% 0;
    font-size: 3.4vw;
    text-align: center;
  }
}

/* section-joboffer
---------------------------------------------------------------------------- */

.joboffer {
  position: relative;
  padding: 13% 0;
  background-image: url(/special/img/summer/joboffer-bg-pc.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.jobofferlist .swiper-slide {
  position: relative;
  display: inline-block;

  width: 30.5%;
  margin-top: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  padding: 24px 16px 16px 16px;

  background-color: #fff;
  border-radius: 8px;

  vertical-align: top;
  overflow: initial;
}
.jobofferlist .swiper-slide h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}
.jobofferlist .swiper-slide .salary {
  position: relative;
  padding: 5px 0 10px;
  padding-left: 15px;
  scroll-padding-top: 12px;

  font-family: var(--p-fonts);
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
}
.jobofferlist .swiper-slide .thum {
  position: relative;
}
.jobofferlist .swiper-slide .thum img {
  width: 100%;
  margin: 12px 0;
  box-shadow: 10px 9px 6px rgba(0, 0, 0, 0.13);
  border: 7px solid white;
  outline: 1px solid #efefef;
}
.jobofferlist .swiper-slide .tag.nrd-tag {
  font-size: 7px;
}
.jobofferlist .swiper-slide .tag .qualification,
.jobofferlist .swiper-slide .tag .status {
  display: inline-block;
  margin: 1px 2px 7px;
  padding: 5px 14px;

  color: var(--blue);

  font-weight: bold;
  text-align: center;
  vertical-align: top;
}
.jobofferlist .swiper-slide .tag .qualification {
  margin-left: 12px;
  color: white;
  background-color: var(--blue);
  border: 1px solid var(--blue);
}
.jobofferlist .swiper-slide .tag .status {
  background-color: white;
  border: 1px solid var(--blue);
}
.jobofferlist .swiper-slide .detail-txt {
  position: relative;
  padding-bottom: 12px;
  padding-left: 15px;

  font-family: var(--p-fonts);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}
.jobofferlist .swiper-slide .salary::before,
.jobofferlist .swiper-slide .detail-txt::before {
  content: "";
  position: absolute;
}
.jobofferlist .swiper-button-prev,
.jobofferlist .swiper-button-next,
.jobofferlist .swiper-pagination {
  display: none;
}
.jobofferlist > p:nth-last-child(1) {
  padding: 2% 0;
  text-align: center;
}
.joboffer .inner .content_ttl h2::before,
#user_voice h2::before {
  content: "";
  position: absolute;
  height: 70px;
  width: 140px;
  margin: auto;
  top: -70px;
  left: 0;
  right: 0;
  background: url(../img/summer/summer-icon.png) no-repeat;
  background-position: center;
}
.lead-txt h2::before,
#flow .inner .content_ttl h2::before {
  content: "";
  height: 70px;
  width: 140px;
  top: -70px;
  left: 58px;
  text-align: center;
  position: absolute;
  margin: 0 auto;
  right: 0;
  background: url(/special/img/summer/summer-icon-blue.png) no-repeat;
}

@media only screen and (max-width: 767px) {
  .joboffer {
    padding: 0 0 7% 0;
    background: none;
  }
  .joboffer .content_ttl {
    padding: 18% 4% 5%;
  }
  .joboffer .inner {
    padding: 4% 0;
  }
  .joboffer .inner .content_ttl h2::before {
    width: 87px;
    background: url(../img/summer/summer-icon-blue.png) no-repeat;
  }
  .joboffer .jobofferlist {
    position: relative;
  }
  .joboffer .jobofferlist .swiper-slide {
    width: 75%;
    margin-right: 5%;
    background-color: #fbe9bb;
  }
  .joboffer .jobofferlist .swiper-container {
    padding: 0;
  }
  .joboffer .jobofferlist .swiper-slide h3 {
    font-size: 4.6vw;
  }
  .joboffer .jobofferlist .swiper-slide .detail-txt {
    font-size: 3.5vw;
  }
  .jobofferlist > p:nth-last-child(1) {
    position: relative;
    padding: 5% 4% 0% 43%;
    text-align: left;
    line-height: 1.3;
  }
  .jobofferlist .swiper-button-prev::after,
  .jobofferlist .swiper-button-next::after {
    content: "";
    position: absolute;
    display: block;

    width: 0;
    height: 0;
    top: calc(50% - 8px);
    right: 0;
    left: 0;
    margin: auto;
    padding: 6px;

    border-width: 0 3px 3px 0;
  }
  .jobofferlist .swiper-button-prev::after {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  .jobofferlist .swiper-button-next::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .jobofferlist .swiper-pagination {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 2% 0;
    text-align: center;
  }
  span.swiper-pagination-bullet {
    margin: 3px;
  }
}

@media only screen and (min-width: 768px) {
  .jobofferlist .swiper-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .joboffer .jobofferlist .swiper-slide h3 {
    position: relative;
    text-align: center;
  }
  .joboffer .jobofferlist .swiper-slide::before {
    content: "";
    position: absolute;
    width: 140px;
    height: 70px;
    top: -33px;
    right: 0;
    left: 0;
    margin: auto;
    background: url(../img/summer/pin.png) no-repeat;
    background-position: center;
  }
  .joboffer .jobofferlist .swiper-slide:nth-of-type(2)::before,
  .joboffer .jobofferlist .swiper-slide:nth-of-type(3)::before,
  .joboffer .jobofferlist .swiper-slide:nth-of-type(5)::before,
  .joboffer .jobofferlist .swiper-slide:nth-of-type(6)::before {
    transform: rotate(45deg);
  }
}
@media only screen and (max-width: 325px) {
  .joboffer .jobofferlist .swiper-slide .salary {
    font-size: 16px;
  }
  .btn_job_entry .btn_job_entry a {
    font-size: 15px;
  }
  .joboffer .jobofferlist .swiper-slide .tag {
    font-size: 8px;
  }
}

/* section-point
---------------------------------------------------------------------------- */

.point {
  background: #e2f5fa;
}
.point ul {
  display: flex;
}
.point ul li {
  display: flexbox;
  width: 32%;
  margin-right: 1%;
  padding: 220px 16px 20px 16px;

  color: #404040;
  background-color: rgb(255, 255, 255);
  background-size: contain;
  border-width: 1px;
  border-color: rgb(238, 238, 238);
  border-style: solid;
  border-radius: 8px;
  box-shadow: 0px 3px 7px 0px rgba(182, 182, 182, 0.35);

  font-size: 12px;
  vertical-align: bottom;
  line-height: 2;

  overflow: hidden;
}
.point ul li:last-child {
  margin-right: 0;
}
.point ul li .num {
  color: #2360aa;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  font-style: italic;
}
.point ul li .description {
  padding-top: 10px;
  line-height: 2.5;
}
.point ul li h3 {
  color: #383838;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -0.02em;
  line-height: 1.5;
}
.point ul li h3 span {
  color: #6fb8d8;
}
.point01 {
  background: url(../img/summer/bg-point01.png) no-repeat;
}
.point02 {
  background: url(../img/summer/bg-point02.png) no-repeat;
}
.point03 {
  background: url(../img/summer/bg-point03.png) no-repeat;
}

@media only screen and (max-width: 767px) {
  .point .content_ttl {
    padding: 4%;
  }
  .point .inner {
    padding: 4% 0;
  }
  .point {
    margin-top: 4%;
  }
  .point h2 {
    letter-spacing: 0;
  }
  .point ul li {
    margin-bottom: 4%;
    padding: 50% 5% 5% 5%;
  }
  .point ul li:last-child {
    margin-bottom: 0;
  }
  .point ul li.swiper-slide {
    width: 80%;
    margin-right: 1%;
  }
  .point ul li.swiper-container {
    padding: 0 0 50px 0;
  }
  .point ul li h3 {
    font-size: 5vw;
  }
  .point ul li .description {
    line-height: 2;
  }
}

/*------------------------------------------------------
  reason area
  ------------------------------------------------------*/

#reason {
  background: #f8ead3;
}
#reason .inner {
  position: relative;
  padding: 10% 0;
  background-image: url(/special/img/summer/hanabi-bg-pc.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: top right;
}

#reason .inner .content_ttl {
  padding: 41px 0 14% 29px;
}
.reason_cont_h3 {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}

.reason_cont_h3 .img_wrap {
  position: absolute;
  top: -143px;
}

.reason_cont_h3 .img_wrap img {
  width: 100%;
}

.reason_cont_h3 .motion-txt span {
  display: table-cell;
  width: 100%;
  padding: 32px 20px 0;

  color: #fffa00;
  font-size: 23px;
  font-weight: 500;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 2px;
  vertical-align: middle;
}

.reason_cont_h3 span.motion-txt:after {
  background-color: #eaecee;
}

.reason_cont_h3 span:first-letter {
  font-size: 180%;
}

.reason_cont_inner {
  width: 30%;
  margin-top: 40px;
  color: white;
  background: #b58e26;
  border-bottom: 1px solid #eee;
}

.reason_cont_inner:last-child {
  border-bottom: 0;
}

.reason_cont_wrap p {
  margin-bottom: 20px;
  color: #fff;
  font-family: var(--p-fonts);
  font-size: 15px;
  line-height: 1.5;
}

.reason_cont_wrap {
  margin-bottom: 50px;
  padding: 0 7%;
}

.reason_cont_wrap strong {
  background: #946e03b8;
  font-size: 107%;
}

.pc_wrap_cont_wrap {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  margin-bottom: 30px;
  border-radius: 8px;
}

.sub_menu_cont_img_wrap {
  display: table-cell;
  width: 45%;
  padding-left: 30px;
  vertical-align: middle;
}

.sub_menu_cont_img_wrap img {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .pc_wrap {
    padding: 0;
  }
  .pc_wrap_cont_wrap {
    position: relative;
    display: block;
    flex-direction: column;
    padding: 5%;
  }
  #reason {
    background: #fbe9bb;
  }
  #reason .inner {
    background-image: url(/special/img/summer/hanabi-bg-sp.png);
    background-size: contain;
  }
  #reason .inner .content_ttl {
    padding: 41px 0 0 29px;
  }
  #reason .inner .content_ttl h2 {
    font-size: 6vw;
  }
  .reason_cont_h3 .img_wrap {
    margin: auto;
    top: -128%;
    right: 0;
    left: auto;
  }
  .reason_cont_inner {
    position: relative;
    width: 100%;
  }
  .reason_cont_inner .reason_cont_wrap_left {
    position: relative;
  }
  .reason_cont_inner .reason_cont_wrap_left::before {
    position: absolute;
    display: block;
    color: #b58e26;
    font-size: 23vw;
  }
  .reason_cont_inner:first-child .reason_cont_wrap_left::before {
    content: "01";
    top: -97px;
  }
  .reason_cont_inner:nth-child(2) .reason_cont_wrap_left::before {
    content: "02";
    top: -92px;
    right: 57px;
  }
  .reason_cont_inner:nth-child(3) .reason_cont_wrap_left::before {
    content: "03";
    top: -92px;
  }
  .reason_cont_inner .reason_cont_wrap_left {
    position: relative;
    width: 100%;
    margin-top: 40%;
    padding: 5% 0;
  }
  .reason_cont_inner:first-child .reason_cont_wrap_left {
    margin-top: 25%;
  }
  .reason_cont_inner:nth-of-type(2) .reason_cont_wrap_left {
    margin-top: 42%;
  }
  .reason_cont_inner:last-of-type .reason_cont_wrap_left {
    margin-top: 46%;
  }

  .reason_cont_inner .reason_cont_wrap_left::after {
    content: "";
    position: absolute;
    display: inline-block;
    margin: 0 10px 0 0;
    right: 0;
    left: 0;
    vertical-align: middle;
  }
  .reason_cont_inner:first-child .reason_cont_wrap_left::after {
    width: 350px;
    height: 200px;
    top: -152px;
    background: url(../img/summer/reason1-sp.png) no-repeat;
    background-size: contain;
  }
  .reason_cont_inner:nth-child(2) .reason_cont_wrap_left::after {
    width: 350px;
    height: 200px;
    top: -174px;
    background: url(../img/summer/reason2-sp.png) no-repeat;
    background-size: contain;
  }
  .reason_cont_inner:last-of-type .reason_cont_wrap_left::after {
    width: 400px;
    height: 244px;
    top: -187px;
    right: -18px;
    left: auto;
    background: url(../img/summer/reason3-sp.png) no-repeat;
    background-size: contain;
  }
  .sub_menu_cont_img_wrap {
    display: block;
    width: 100%;
    margin-top: -3%;
    padding: 5% 0;
  }
  .reason_cont_h3 span {
    padding-left: 4px;
    font-size: 5vw;
  }
  .reason_cont_wrap,
  .sub_menu_cont_img_wrap img {
    margin-bottom: 24px;
    border-radius: 4px;
  }
  .reason_cont_wrap p {
    line-height: 1.5;
  }
  .reason_cont_h3 .motion-txt {
    padding: 0;
  }
  .reason_cont_h3 .motion-txt span {
    padding: 0 26px 0;
    font-weight: 400;
    font-size: 4.3vw;
  }
}

/*------------------------------------------------------
  uservoice area
  ------------------------------------------------------*/

#user_voice {
  position: relative;
  background: #eef7ff;
}
#user_voice h2 {
  position: absolute;
  right: 0;
  left: 39px;
  text-align: center;
}
#user_voice .content_ttl {
  padding: 10vw 0 4vw 0;
  background-image: url(/special/img/summer/voice_bg_pc.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#user_voice .content_ttl .inner {
  position: relative;
}

#user_voice .content_ttl::before,
#user_voice .content_ttl::after {
  right: 160px;
  left: auto;
}
#user_voice .content_wrap {
  margin: 6% 0 0%;
  background-color: #eef7ff;
}
#user_voice .item.swiper-slide {
  height: auto;
  border-radius: 6px;
}
#user_voice .main_menu_voice {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  background: linear-gradient(transparent 13%, white 5%);
  font-weight: bold;
  cursor: pointer;
}
#user_voice .swiper-button-next,
#user_voice .swiper-button-prev {
  width: 60px;
  height: 60px;
  margin-top: 0;
  opacity: 0.722;
  top: calc(50% - 24px);
  background-image: none;
  background-color: rgb(0, 170, 235);
  border-radius: 300px;
}
#user_voice .swiper-button-next {
  right: 0;
}
.jobofferlist .swiper-button-prev::after,
#user_voice .swiper-button-prev::before {
  content: "";
  position: absolute;
  display: block;
  padding: 3px;
  width: 22px;
  height: 22px;
  right: 20px;
  top: 33%;
  background: url(/special/img/summer/arrow.png) no-repeat top center;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.jobofferlist .swiper-button-prev::after {
  right: 7px;
}
.jobofferlist .swiper-button-next::after,
#user_voice .swiper-button-next::after {
  content: "";
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  padding: 3px;
  right: 20px;
  top: 33%;
  background: url(/special/img/summer/arrow.png) no-repeat top center;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.jobofferlist .swiper-button-next::after {
  right: -4px;
}
#user_voice .swiper-button-prev {
  left: 0;
  cursor: pointer;
  pointer-events: bounding-box;
}
#user_voice .swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
}
.main_menu_voice .img_wrap {
  display: table-cell;
  width: 40%;
  padding-right: 10px;
}
.main_menu_voice .img_wrap img {
  width: 100%;
}
.main_menu_voice .ttl_wrap {
  display: table-cell;
  padding-right: 15px;
  vertical-align: top;
}
.main_menu_voice .ttl_wrap .voice_ttl {
  display: block;
  margin: 12px 0 8px;
  padding-bottom: 7px;
  border-bottom: 1px solid var(--blue);
  font-size: 17px;
  font-weight: bold;
  line-height: 1.3;
}
.main_menu_voice .ttl_wrap .voice_dtl {
  display: block;
  color: #666;
  font-family: var(--p-fonts);
  font-weight: bold;
  text-align: center;
  line-height: 1.3;
}
span.marker {
  color: var(--blue);
  font-family: var(--p-fonts);
  font-weight: 500;
}
.sub_menu_voice {
  height: 306px;
  padding: 20px;
  background: white;
  font-size: 14.5px;
  line-height: 1.5;
}
.sub_menu_voice p {
  margin-bottom: 10px;
  font-family: var(--p-fonts);
  text-indent: 1em;
}
.sub_menu_voice p:last-child {
  margin-bottom: 0px;
}
@media only screen and (min-width: 768px) {
  #user_voice .inner .content_wrap {
    position: relative;
  }
  #user_voice .inner .content_wrap .swiper-button {
    position: absolute;
    width: 1020px;
    margin: 0 auto;
    top: 50%;
    left: -35px;
  }
}

@media only screen and (max-width: 767px) {
  #user_voice {
    background-image: none;
    background: white;
  }
  #user_voice .inner {
    padding: 0;
  }
  #user_voice h2 {
    text-align: center;
    font-size: 4.5vw;
    line-height: 1.7;
  }

  #user_voice .content_wrap {
    padding: 3% 0 5%;
    background-color: white;
  }
  #user_voice .content_ttl {
    height: 56vw;
    padding: 32% 0 0 29%;
    background-image: url(/special/img/summer/voice_bg_sp.png);
    background-size: 100%;
    background-position: center;
  }
  #user_voice .content_ttl::before,
  #user_voice .content_ttl::after {
    margin: auto;
    right: 0;
    left: 0;
  }
  .jobofferlist .swiper-button-prev,
  .jobofferlist .swiper-button-next,
  #user_voice .swiper-button-prev,
  #user_voice .swiper-button-next {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;
    top: auto;
    bottom: 0;
    background: var(--blue);
    background-image: none !important;
    border-radius: 50%;
  }
  .jobofferlist .swiper-button-prev,
  #user_voice .swiper-button-prev {
    right: auto;
    left: 3vw;
  }
  .jobofferlist .swiper-button-next,
  #user_voice .swiper-button-next {
    right: auto;
    left: 21vw;
  }
  #user_voice .swiper-button-prev,
  #user_voice .swiper-button-next {
    bottom: -28px;
  }
  #user_voice .main_menu_voice {
    background: linear-gradient(transparent 13%, #f6f6f6 5%);
  }
  #user_voice .swiper-button-prev.swiper-button-disabled {
    opacity: 0.8;
  }
  .sub_menu_voice {
    height: auto;
    background: #f6f6f6;
  }
  .main_menu_voice .ttl_wrap {
    padding: 15px 15px 0;
  }
  .main_menu_voice .ttl_wrap .voice_ttl {
    text-align: center;
  }
}
@media only screen and (max-width: 375px) {
  .sub_menu_voice {
    height: auto;
  }
  .sub_menu_voice p {
    font-size: 13px;
  }
}

/*------------------------------------------------------
共通CSS
------------------------------------------------------*/
.user_voice_box .content_ttl::before {
  top: 38px;
  right: 200px;
  left: auto;
}
/*------------------------------------------------------
  flow area
  ------------------------------------------------------*/

#flow {
  padding: 12% 0 0;
}
#flow .inner,
#reason .inner,
#user_voice .inner {
  padding-bottom: 6%;
}
.step-list {
  display: flex;
  padding-top: 39px;
  text-align: center;
}
.step-list li {
  position: relative;
  display: inline-block;

  width: 310px;
  min-height: 260px;
  margin-left: 29px;
  padding-bottom: 30px;

  background: #f6f6f6;
  letter-spacing: 0.03em;
  vertical-align: top;
}
.step-list li:nth-child(4),
.step-list li:nth-child(5),
.step-list li:nth-child(6) {
  margin-bottom: 0;
}
.step-list li .number {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-top: -12px;
  margin-left: -38px;
  padding: 8px 15px;
  left: 16px;

  color: #fff;
  background: var(--blue);
  border: 4px solid #fff;

  font-size: 25px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.step-list li .number .large {
  display: block;
  margin-top: 3px;
  font-size: 150%;
}
.step-list li:nth-child(3)::after,
.step-list li:nth-child(6)::after {
  display: none;
}
.step-list li h3 {
  position: relative;
  height: 65px;
  font-family: var(--p-fonts);
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
}
.step-list li h3 span {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  line-height: 1.3;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.step-list li p {
  padding: 0 13px;
  color: #555;
  font-family: var(--p-fonts);
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 20px;
}
.step-list li img {
  width: 85%;
  margin: 3% 0;
}
.step-list li span.small {
  margin: 1% 0;
  font-size: 11.5px;
  font-weight: 400;
  line-height: 1.4;
}

@media only screen and (max-width: 640px) {
  #flow {
    padding: 25% 0 0;
  }
  .step-list {
    position: relative;
    z-index: 2;
    display: block;
  }
  .step-list li {
    position: relative;
    display: block;

    width: 95%;
    min-height: 0;
    margin-left: 0;
    padding-bottom: 0;
    margin-bottom: 8.4vw;
    padding-top: 0;

    z-index: 2;
  }
  .step-list.li-bottom {
    padding-top: 0;
  }
  .step-list li:nth-of-type(2n-1),
  .step-list.li-bottom li:nth-of-type(2) {
    margin-left: 5%;
  }
  .step-list.li-bottom li:nth-of-type(2n-1) {
    margin-left: 0;
  }
  .step-list li::after {
    content: none;
  }
  .step-list li .number {
    position: absolute;

    width: 60px;
    height: 60px;
    margin: auto;
    padding: 10px 0px;
    top: -10%;
    left: -13px;

    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
  }
  .step-list li .number .large {
    display: block;
    margin-top: 3px;
    font-size: 150%;
  }
  .step-list li div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .step-list li img,
  .step-list.li-bottom li img {
    float: left;
    height: inherit;
    margin: 0;
    padding: 3% 5% 4% 0;
  }
  .step-list li:first-child img {
    width: 58%;
  }
  .step-list li:nth-of-type(2) img {
    width: 48%;
  }
  .step-list li:last-of-type img {
    width: 48%;
  }
  .step-list.li-bottom li:first-child img {
    width: 40%;
    padding: 3% 8% 4% 0;
  }
  .step-list.li-bottom li:nth-of-type(2) img {
    width: 46%;
  }
  .step-list.li-bottom li:last-of-type img {
    width: 32%;
  }
  .step-list li h3 {
    margin: 0;
    padding: 5.5vw 0 0 14vw;
    font-size: 3.7vw;
    font-size: calc(100vw * 28 / 750);
    text-align: left;
  }
  .step-list li h3 span {
    position: static;
    font-weight: bold;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .step-list li h3 span br {
    display: none;
  }
  .step-list li p {
    clear: both;
    display: block;

    margin: 0;
    padding: 3% 0 0 5%;

    font-size: 3.2vw;
    font-size: calc(100vw * 29px / 750px);
    text-align: left;
    line-height: 1.333;
  }
}

/*------------------------------------------------------
  footer other info
  ------------------------------------------------------*/

#other_info {
  color: #fff;
  background-color: #10abe8;
}
#other_info .telBox {
  width: 960px;
  margin: 0 auto;
  padding: 10px 0;
  overflow: hidden;
}
#other_info .telBox .info1 {
  margin: 0 0 20px 0;
  padding: 10px;

  color: #10abe8;
  background-color: #effaff;
  border-radius: 5px;

  overflow: hidden;
}
#other_info .telBox .info1 .ttl {
  text-align: center;
}
#other_info .telBox .info1 .ttl .telTtl {
  margin: 0 0 5px 0;
  padding: 5px;

  color: #fff;
  background-color: #10abe8;
  border-radius: 100px;

  font-size: 15px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}
#other_info .telBox .info1 .ttl .free {
  margin: 0 0 0 10px;
  font-size: 12px;
  text-align: center;
}
#other_info .telBox .info1 li {
  float: left;
  width: 30%;
  margin-top: 5px;
  padding-left: 5px;
}
#other_info .telBox .info1 li#tel {
  text-align: center;
}
#other_info .telBox .info1 li.txt {
  display: inline-block;
  padding-left: 15px;
  font-size: 11px;
  line-height: 1.3em;
  text-align: left;
}
#other_info .telBox .info1 li#tel a {
  display: block;

  color: #10abe8;
  border-radius: 8px;

  font-family: "Roboto Condensed", "Helvetica", ヒラギノ明朝 Pro W3,
    ヒラギノ角ゴ Pro, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
}
#other_info .telBox .box01 {
  float: left;
  width: 31.3333%;
  border-radius: 5px;
  overflow: hidden;
}
#other_info .telBox .box01,
#other_info .telBox .box02 {
  margin-right: 2%;
}
#other_info .telBox .box01 figure,
#other_info .telBox .box02 figure {
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
}
#other_info .telBox .box01 .txtbox {
  float: left;
  width: 76%;
}
#other_info .telBox .box01 .txtbox h2,
#other_info .telBox .box02 .txtbox h2 {
  display: block;
  margin: 0 0 3px 0;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}
#other_info .telBox .txtbox p {
  font-size: 80%;
  line-height: 1.3;
}
#page-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 77%;
  z-index: 10000;
}
#page-top a {
  position: relative;
  display: block;

  width: 60px;
  height: 60px;

  background: var(--orange);
  border-radius: 300px;

  text-indent: -9999px;
}
#page-top a:before {
  content: "";
  position: absolute;
  display: block;

  width: 22px;
  height: 22px;
  padding: 3px;
  top: 33%;
  right: 20px;

  background: url(/special/img/summer/arrow.png) no-repeat top center;
}
footer {
  width: 100%;
}
footer p {
  display: block;
  margin-bottom: 2px;
  font-size: 11px;
}
footer .inner {
  padding: 10px 0;
}
footer #company_txt {
  padding-top: 8px;
  font-size: 11px;
  overflow: hidden;
}
footer .txt_inner {
  float: left;
  width: 560px;
  text-align: left;
}
footer .footer_right {
  float: right;
  width: 188px;
  margin-top: 10px;
  text-align: right;
}
footer .footer_link {
  padding: 4px 0px 3px 15px;
}
footer .footer_link a {
  position: relative;
  top: 0;
  left: 0;
  color: #666 !important;
  text-decoration: none !important;
}
footer .footer_link a:before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  top: 2px;
  left: -15px;
  background: url(/lp/pt/029/img/new_window.png) no-repeat;
  background-size: cover;
}
footer .footer_link a:first-child {
  margin-right: 25px;
}
@media only screen and (max-width: 767px) {
  #other_info {
    color: #fff;
    background-color: #cff1ff;
  }
  #other_info .telBox {
    width: 95%;
    margin: 0 auto;
    padding: 12% 0;
    overflow: hidden;
  }
  #other_info .telBox .info1 {
    margin: 0 0 10px 0;
    padding: 0px;
    color: #1d4970;
    background-color: #cff1ff;
    overflow: hidden;
  }
  #other_info .telBox .info1 .ttl {
    text-align: center;
  }
  #other_info .telBox .info1 li {
    float: left;
    width: 30%;
    margin-top: 5px;
    padding-left: 5px;
  }
  #other_info .telBox .info1 li#tel {
    padding: 10px 0;
    text-align: center;
  }
  #other_info .telBox .info1 li#tel a {
    display: block;
    padding: 10px;
    border-radius: 8px;
  }
  #other_info .telBox .info1 .ttl .telTtl {
    margin: 0 0 5px 0;
    padding: 5px;
    border: solid 1px #fff;
    border-radius: 100px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
  }
  #other_info .telBox .info1 .ttl .free {
    margin: 3px 0 0 5px;
  }
  #other_info .telBox .info1 li {
    float: none;
    display: block;
    width: 100%;
    margin-top: 0;
    padding-left: 0;
  }
  #other_info .telBox .info1 li#tel {
    display: block;
    padding: 10px 0;
    text-align: center;
  }
  #other_info .telBox .info1 li#tel a {
    display: block;
    padding: 9px 19px;

    color: #10abe8;
    background-color: #fff;
    border-radius: 8px;

    font-family: "Roboto Condensed", "Helvetica", ヒラギノ明朝 Pro W3,
      ヒラギノ角ゴ Pro, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, sans-serif;
    font-size: 9.5vw;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
  }
  #other_info .telBox .info1 li.txt {
    margin: 0px;
    padding: 0px;
    font-size: 90%;
    line-height: 1.3em;
    text-align: center;
  }
  #other_info .telBox .box01 {
    border-radius: 0;
  }
  #other_info .telBox .box01,
  #other_info .telBox .box02 {
    display: flex;
    width: 100%;
    padding: 10px 5px;
    color: #10abe8;
    background-color: #fff;
    overflow: hidden;
  }
  #other_info .telBox .box01 figure,
  #other_info .telBox .box02 figure {
    display: table-cell;
    width: 15%;
    margin: 0 5px 0 0;
    padding: 0;
  }
  #other_info .telBox .box01 .txtbox,
  #other_info .telBox .box02 .txtbox {
    display: table-cell;
    width: 85%;
    vertical-align: top;
    padding-left: 5px;
  }
  #other_info .telBox .box01 .txtbox h2,
  #other_info .telBox .box02 .txtbox h2 {
    margin: 0 0 3px 0;
    color: #10abe8;
    background: transparent;

    text-align: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.3;
  }
  #other_info .telBox .box01 .txtbox p,
  #other_info .telBox .box02 .txtbox p {
    color: #000;
    font-size: 80%;
  }
  #page-top {
    bottom: 10%;
  }
  footer {
    width: 100%;
    border-top: dotted 1px #999;
  }
  footer .inner {
    padding: 4%;
  }
  footer p {
    display: block !important;
    padding: 2px 0;
    color: #666 !important;
    font-size: 11px;
    text-align: left;
    line-height: 1.2;
  }
  footer #company_txt {
    padding: 20px 0 16px 0;
  }
  footer .txt_inner {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 15px;
    border-bottom: dotted 1px #999999;
  }
}
.floating {
  position: fixed;
  display: none;
  width: 97%;
  padding: 35px;
  bottom: 0;
  text-align: center;
  z-index: 1000;
}
@media only screen and (max-width: 640px) {
  .floating {
    padding: 3% 0 3% 3%;
  }
}
