@charset "utf-8";
:root {
	--blue1: #05b3ff;
	--blue2: #e2f5ff;
	--blue3: #d2f0fc;
	--gray: #f4f4f4;
}
* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 18px;
}
.pc {
	display: block;
}
.sp {
	display: none;
}
.scrollIn {
	opacity: 0;
}
.fadeInUp {
	animation: fadeInUp 0.5s ease forwards;
}
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 50px, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}
.inner {
	width: 1000px;
	margin: 0 auto;
}
.mainttl {
	position: relative;
	padding-top: 30px;
	color: var(--blue1);
	text-align: center;
	letter-spacing: 1.5px;
}
.mainttl::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 5px;
	border-radius: 10px;
	top: 0%;
	left: 0;
	right: 0;
}
.secondttl {
	letter-spacing: 1.5px;
	margin: 40px 0 10px;
}
.step-item:last-of-type .secondttl {
	padding-top: 50px;
}
.secondttl .tag {
	margin-right: 10px;
	padding: 10px;
	color: var(--blue1);
	font-size: 16px;
	background-color: var(--blue3);
	border-radius: 4px;
}
.secondttl strong,
h4 strong {
	color: var(--blue1);
}
.y_line {
	background-image: linear-gradient(to right, #ffdd9b 50%, transparent 50%);
	background-size: 200% 100%;
	background-repeat: no-repeat;
	background-position: 0 8px;
	font-weight: bold;
}
.b-bg {
	padding: 60px 0 0;
	background-color: var(--blue3);
}
.txtBold {
	font-weight: bold;
}
.txtS {
	font-size: 85%;
}
.txtGreen {
	color: #47c681;
}
.marker {
	background: linear-gradient(#fff0 50%, #fff0 60%, #fcf0ae 60%);
}
.contect-item {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 18px 0;
	border-radius: 16px;
}

@media only screen and (max-width: 639px) {
	.pc {
		display: none;
	}
	.sp {
		display: block;
	}
	body {
		width: 100%;
		padding: 67px 0 0 0;
		overflow-x: hidden;
	}
	h1 {
		font-size: 32px;
	}
	h2 {
		font-size: 2.2em;
		line-height: 1.3;
	}
	h3 {
		font-size: 1.5em;
	}
	h4 {
		font-size: 17px;
	}
	@keyframes fadeInUp {
		from {
			opacity: 0;
			transform: translate3d(0, 30px, 0);
		}
		to {
			opacity: 1;
			transform: none;
		}
	}
	.mainttl {
		letter-spacing: 3px;
	}
	.mainttl::after {
		margin: 0 auto;
		width: 80%;
	}
	.secondttl {
		display: flex;
		align-items: center;
		padding: 0 4%;
	}
}

/*  */
#corporate {
	font-size: 14px;
	font-feature-settings: 'palt';
	letter-spacing: 1.2px;
	line-height: 2;
}
#main {
	width: 100%;
	background-image: none;
}
#breadcrumb_list {
	width: 1000px;
	margin: 10px auto 0;
}
@media only screen and (max-width: 639px) {
	#corporate {
		font-size: 100%;
		font-feature-settings: 'palt';
		letter-spacing: 0.1em;
		line-height: 2;
	}
	#corporate .inner {
		width: 100%;
		margin: 0 auto;
	}
	#corporate img {
		display: block;
		width: 100%;
		height: auto;
	}
}

/* #mainvisual */
#mainvisual {
	position: relative;
	background: bottom center / cover no-repeat url('img/bg_mainvisual.png');
}
#mainvisual .inner {
	position: relative;
	margin: 0 auto;
	padding-top: 45px;
	width: 1000px;
	height: 240px;
	box-sizing: border-box;
	background: bottom right 89px / contain no-repeat url(img/mainvisual.svg);
	z-index: 1;
	padding-left: 81px;
}
#mainvisual h1 {
	margin-bottom: 0.4em;
	width: fit-content;
	font-weight: bold;
	line-height: 1.2;
	letter-spacing: 0.05em;
	color: var(--blue1);
}
#mainvisual h2 .txtM {
	font-size: 60%;
}
#mainvisual h2 .txtS {
	font-size: 50%;
}
@media only screen and (max-width: 639px) {
	#mainvisual .inner {
		padding: 5%;
		width: 100%;
		height: 136px;
		background-position: bottom right;
		background-size: 59vw;
	}
}

/* lead */
#lead {
	color: white;
	background-color: var(--blue1);
}
#lead .inner {
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#lead .column {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 40%;
	justify-content: flex-start;
}
#lead .text {
	margin-right: 6px;
	line-height: 1.4;
}
#lead .text p {
	font-size: 15px;
	text-align: center;
}
#lead .text strong {
	font-size: 40px;
}
#lead .price {
	font-weight: bold;
	font-size: 50px;
}
#lead .price span {
	font-size: 100px;
}
#lead .desc {
	line-height: 1.7;
}
#lead .desc h3 {
	line-height: 1.5;
	letter-spacing: 1.5px;
	margin-bottom: 4px;
}
#lead .desc p {
	font-size: 14px;
	letter-spacing: 1.5px;
}

@media only screen and (max-width: 639px) {
	#lead .inner {
		width: 92%;
		padding: 30px 0 42px;
	}
	#lead .column {
		flex-direction: column;
		width: 45%;
		line-height: 1;
	}
	#lead .desc {
		width: 55%;
	}
	#lead .desc h3 {
		font-size: 1.35em;
	}
	#lead .desc p {
		font-size: 12px;
	}
	#lead .text strong {
		font-size: 30px;
	}
}

/* nayami */
#nayami {
	background-color: #f0f4f3;
}
#nayami .inner .pickup {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	bottom: 20px;
	align-items: stretch;
	width: 800px;
	margin: 0 auto;
}
#nayami .inner .pickup div {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding: 77px 27px 23px;
	width: 166px;
	border-radius: 8px;
	font-size: 18px;
	text-align: center;
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px) contrast(20%);
	background-color: #ffffff91;
	line-height: 1.8;
}
@supports not (backdrop-filter: blur(8px)) {
	#nayami .inner .pickup div {
		background: #ffffff91;
	}
}
@media all and (-ms-high-contrast: none) {
	#nayami .inner .pickup div {
		background: #ffffff91;
	}
}
#nayami .inner .pickup div::after {
	position: absolute;
	content: '';
	width: 78px;
	height: 73px;
	background-position: center;
	background-size: contain;
	top: 10px;
}
#nayami .inner .pickup div:first-of-type::after {
	background-image: url(img/pickup_01.svg);
}
#nayami .inner .pickup div:nth-child(2)::after {
	background-image: url(img/pickup_02.svg);
}
#nayami .inner .pickup div:last-of-type::after {
	background-image: url(img/pickup_03.svg);
}
#nayami .inner .pickup div:first-of-type span strong,
#nayami .inner .pickup div:nth-last-of-type(2) span strong {
	font-size: 39px;
	letter-spacing: -4px;
	padding-right: 8px;
}
#nayami .inner .pickup span {
	color: var(--blue1);
	font-weight: bold;
}
#nayami .inner .pickup span strong {
	font-size: 26px;
	line-height: 1;
	font-weight: bolder;
}
#nayami .inner .item {
	display: flex;
	justify-content: space-around;
	width: 837px;
	margin: 0 auto;
	align-items: center;
	padding: 0 0 19px;
	position: relative;
}
#nayami .inner .item::after {
	position: absolute;
	content: '';
	width: 240px;
	height: 236px;
	background: bottom center / contain no-repeat url(img/nayami_illust.svg);
	bottom: -33px;
}
#nayami .inner .item div {
	position: relative;
	padding: 30px;
	width: 120px;
	height: 120px;
	background-color: #e8e8e8;
	border-radius: 1000px;
}
#nayami .inner .item div:first-of-type,
#nayami .inner .item div:last-of-type {
	margin-bottom: 53px;
}
#nayami .inner .item div:nth-of-type(2) {
	margin-right: 40px;
}
#nayami .inner .item div:nth-of-type(3) {
	margin-left: 40px;
}
#nayami .inner .item div p {
	position: absolute;
	margin: 0;
	margin-right: -50%;
	top: 50%;
	left: 50%;
	text-align: center;
	line-height: 1.5;
	transform: translate(-50%, -50%);
}
@media only screen and (max-width: 639px) {
	#nayami .inner .pickup {
		width: 92%;
	}
	#nayami .inner .pickup div {
		justify-content: center;
		width: 30%;
		padding: 60px 2px 14px;
		font-size: 12px;
	}
	#nayami .inner .pickup span strong {
		font-size: 20px;
	}
	#nayami .inner .pickup div:first-of-type span strong,
	#nayami .inner .pickup div:nth-last-of-type(2) span strong {
		font-size: 28px;
	}
	#nayami .inner .pickup div::after {
		width: 66px;
		height: 60px;
		top: 0;
	}
	#nayami .inner .item div {
		width: auto;
		height: auto;
		padding: 50px;
	}
	#nayami .inner .item {
		padding: 0 0 20px;
		width: 96%;
	}
	#nayami .inner .item div:first-of-type,
	#nayami .inner .item div:last-of-type {
		margin-bottom: 0;
	}
	#nayami .inner .item div:nth-of-type(2) {
		margin-right: auto;
		margin-bottom: 80px;
	}
	#nayami .inner .item div:nth-of-type(3) {
		margin-left: auto;
		margin-bottom: 80px;
	}
	#nayami .inner .item::after {
		width: 100%;
		height: 154px;
	}
}
/* merit */
#merit .inner,
#flow .inner,
#charge .inner {
	padding: 0 45px 34px;
	background: white;
	max-width: 860px;
	border-radius: 8px;
}
#merit .mainttl::after,
#flow .mainttl::after,
#charge .mainttl::after,
#qna .mainttl::after {
	background-color: var(--blue1);
}
#merit .attention p {
	position: relative;
	padding: 20px 261px 20px 52px;
	margin: 3% 0;
	background-color: var(--gray);
	border-radius: 10px;
}
#merit .attention p::after {
	position: absolute;
	content: '';
	width: 100%;
	bottom: 0;
	height: 137px;
	background: bottom right 41px / contain no-repeat url(img/attention_illust.png);
	right: 0;
}
#merit .table {
	display: -webkit-box;
	display: -ms-flexbox;
	margin: 20px auto 30px;
	flex-direction: row;
	justify-content: center;
}
#merit .table .ttl {
	width: 150px;
	margin-top: 100px;
	border: 1px solid #aaa;
	border-right: none;
	border-radius: 5px 0 0 5px;
}
#merit .table .merit-item {
	display: flex;
	align-items: flex-end;
}
#merit .table .mynv,
section .table .advrt {
	width: 350px;
}
#merit .table .mynv {
	border-radius: 8px 8px 0 0;
	border: 3px solid var(--blue1);
}
#merit .table .mynv li.list-ttl {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	height: 98px;
	background: var(--blue1) url(img/logo_wh.png) no-repeat center/220px;
	border-radius: 5px 5px 0 0;
}
#merit .table .advrt {
	margin-top: 23px;
	border-radius: 0 5px 5px 0;
	border: 1px solid #aaa;
	border-left: none;
}
#merit .table .advrt li.list-ttl {
	background: #ddd;
	height: 60px;
	border-radius: 0 5px 0 0;
	font-size: 22px;
	font-weight: bold;
	line-height: 24px;
	padding-top: 17px;
	text-align: center;
}
#merit .table .advrt li.list-ttl span {
	display: block;
	font-size: 14px;
}
#merit .table .bb {
	border-bottom: 1px solid #aaa;
	height: 110px;
}
#merit .table .bb + li {
	height: 153px;
}
#merit .table .ttl li {
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	background: 50% 30px / 60px no-repeat url(img/pickup_02.svg);
	padding-top: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 52px 0 -9px;
	line-height: 1;
}
#merit .table .ttl li:nth-child(2) {
	background-image: url(img/pickup_03.svg);
	padding-top: 40px;
	background-position: 50% 47px;
}
#merit .table .mynv .bb,
#merit .table .mynv .bb + li,
#merit .table .advrt .bb,
#merit .table .advrt .bb + li {
	padding: 20px;
	text-align: left;
	font-size: 14px;
}
#merit .table .mynv .bb li,
#merit .table .mynv .bb + li li,
#merit .table .advrt .bb li,
#merit .table .advrt .bb + li li {
	margin-bottom: 10px;
	padding-left: 26px;
	background: url(img/ico_check.png) no-repeat left 2px/25px;
}
#merit .advisor {
	display: flex;
	align-items: center;
}
#merit .advisor div {
	margin: 10px 43px 10px 0;
}
#merit .advisor h4 {
	margin-bottom: 10px;
	line-height: 1.7;
}
#merit .advisor img {
	width: 376px;
	height: 245px;
}
@media only screen and (max-width: 639px) {
	#merit .inner,
	#flow .inner,
	#charge .inner {
		width: 100%;
		padding: 0;
	}
	#merit .attention {
		margin: 0 4%;
	}
	#merit .attention p {
		padding: 4% 36% 4% 6%;
	}
	#merit .attention p::after {
		background-position: bottom right;
		height: 112px;
	}
	#merit .table .merit-item {
		align-items: stretch;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
	}
	#merit .table .mynv,
	#merit .table .advrt {
		margin: 0 auto 4%;
		width: 90%;
	}
	#merit .table .mynv li.list-ttl {
		height: 60px;
	}
	#merit .table .mynv li li,
	#merit .table .advrt li li {
		margin: 6px 4%;
	}
	#merit .table .mynv li li.sp,
	#merit .table .advrt li li.sp {
		margin: 0;
		padding: 8px 0 8px 20px;
		font-size: 1.5em;
		text-align: center;
		background: 28% center / 52px no-repeat url(img/pickup_02.svg) #e2f5ff;
	}
	#merit .table .advrt {
		border-radius: 5px 5px 0 0;
		border-left: 1px solid #aaa;
	}
	#merit .table .advrt li li.sp {
		background: 28% center / 52px no-repeat url(img/pickup_02.svg) #e2f5ff;
		filter: grayscale(1);
	}
	#merit .table .advrt li li.sp {
		background-color: #f4f4f4;
	}
	#merit .table .mynv .bb,
	#merit .table .mynv .bb + li,
	#merit .table .advrt .bb,
	#merit .table .advrt .bb + li {
		padding: 0;
		height: auto;
	}
	#merit .table .mynv li:last-of-type li.sp,
	#merit .table .advrt li:last-of-type li.sp {
		background-image: url(img/pickup_03.svg);
		background-position: 19% center;
		padding: 8px 0 8px 36px;
	}
	#merit .advisor {
		flex-direction: column;
	}
	#merit .advisor div {
		margin: 0 auto;
		margin: 0 4%;
	}
	#merit .advisor img {
		margin-top: 4%;
		width: 261px;
		height: 193px;
	}
}
/* flow */
#flow .inner {
	padding-bottom: 100px;
}
#flow .secondttl .tag {
	color: white;
	background: linear-gradient(47deg, var(--blue1) 30%, #2bc4ff 70%);
}
.step {
	position: relative;
	padding-left: 200px;
}
.step::before,
.step::after,
.step-item::after,
.step-item::before {
	position: absolute;
	content: '';
}
.step::before {
	background: #d0f1ff;
	width: 10px;
	height: 100%;
	bottom: 0;
	left: 76px;
	z-index: 0;
}
.step-item {
	position: relative;
}
.step-item::after {
	width: 18px;
	height: 18px;
	background: center / contain no-repeat url(img/arrow_bottom.svg);
	top: 172px;
	left: -128px;
}
.step-item:last-of-type::after {
	display: none;
}
.step-item::before {
	width: 160px;
	height: 160px;
	background-size: contain;
	background-position: bottom center;
	background-color: #eef5f8;
	background-repeat: no-repeat;
	border-radius: 16px;
	left: -200px;
	top: 0;
}
.step01::before {
	background-image: url('img/step1_illust.svg');
}
.step02::before {
	background-image: url('img/step2_illust.svg');
}
.step03::before {
	background-image: url('img/step3_illust.svg');
}
.step04::before {
	background-image: url('img/step4_illust.svg');
}
.step .form {
	border-radius: 8px;
}
.step .form h3 {
	position: relative;
	padding-left: 17px;
	text-align: left;
	margin: 20px auto 10px;
	border-radius: 8px 8px 0 0;
}
.step .form h3::before {
	content: '';
	position: absolute;
	height: 23px;
	width: 2px;
	border-left: 3px solid var(--blue1);
	left: 0;
	bottom: 9px;
}
.step .form h3 span {
	color: var(--blue1);
}
.step .form h3:nth-of-type(2) {
	border-radius: 0;
}
.u_line {
	text-decoration: underline;
}
#flow .contect-item,
#flow .contect-help {
	background: var(--gray);
	position: relative;
}
#flow .contect-item::after {
	position: absolute;
	content: '';
	border-left: solid 2px white;
	height: 100%;
	width: 1px;
	left: 59%;
	right: auto;
}
.help_linkhub {
	position: relative;
	text-decoration: underline;
	left: -8px;
}
.help_linkhub::after,
.site .text a:after {
	position: absolute;
	content: '';
	width: 14px;
	height: 14px;
	background: bottom / cover no-repeat url(img/t_blank.svg);
	bottom: 0;
	right: -18px;
}
@media only screen and (max-width: 639px) {
	#flow .inner {
		padding-bottom: 30px;
	}
	#flow .secondttl {
		padding: 0;
	}
	#flow .contect-item {
		flex-direction: column;
	}
	#flow .secondttl .tag {
		padding: 4px 10px;
		font-size: 14px;
	}
	#flow .contect-item::after {
		border-left: none;
		border-bottom: 2px solid white;
		top: 44%;
		width: 100%;
		height: 1px;
		left: 0;
	}
	.step {
		padding: 0 4%;
	}
	.step::before {
		left: 46px;
	}
	.step-item::before {
		width: 70px;
		height: 75px;
		border-radius: 4px;
		left: 0;
		top: 40px;
	}
	.step-item::after {
		top: 135px;
		left: 25px;
	}
	.step-item:last-of-type::before {
		display: none;
	}
	.step .form {
		width: 77%;
	}
	.step .form h3 {
		margin-top: 4%;
	}
	.step .form h3::before {
		height: 70%;
	}
	.step li p,
	.step li div,
	.step li small {
		padding-left: 85px;
	}
	.step li small {
		display: block;
	}
	.step .contect-help p {
		padding: 0 7%;
		text-align: left;
	}
	.step li div div {
		padding: 14px 0;
	}
}
/* charge */
#charge .mainttl {
	padding-bottom: 8px;
}
#charge .rate {
	margin-top: 20px;
	display: flex;
}
#charge .rate div {
	background: #f5f5f5;
	padding: 15px 28px;
	line-height: 1.7;
	border-radius: 12px;
}
#charge .rate p {
	font-size: 10px;
}
#charge .rate img {
	width: 122px;
	height: 134px;
	padding-right: 12px;
}
@media only screen and (max-width: 639px) {
	#charge .rate div {
		margin: 0 4% 4%;
		padding: 15px;
	}
	#charge .inner p {
		margin: 0 auto;
		width: 92%;
	}
	#charge .rate img {
		display: none;
	}
	#charge .rate h5 {
		position: relative;
		color: var(--blue1);
		padding-left: 10px;
		padding-bottom: 4px;
	}
	#charge .rate h5::after {
		content: '';
		position: absolute;
		width: 2px;
		height: 74%;
		background-color: var(--blue1);
		left: 0;
	}
	#charge .rate p {
		width: 100%;
	}
}

/* qna */
#qna {
	padding-bottom: 70px;
}
#qna .inner {
	padding: 0;
	width: 950px;
	background: white;
	border-radius: 8px;
}
#qna .mainttl::after {
	width: 90%;
	margin: 0 auto;
}
.question {
	margin-right: 27px;
	padding: 6px 13px;
	border-radius: 100px;
	font-size: 22px;
	font-weight: bold;
	color: var(--blue1);
}
.q-heading {
	display: flex;
	align-items: center;
}
.acd-check {
	display: none;
}
.acd-label {
	padding: 16px 27px;
	position: relative;
	font-weight: 500;
	line-height: 1.4;
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--blue3);
}
.acd-label::after {
	content: '';
	position: absolute;
	display: block;
	text-align: right;
	width: 25px;
	height: 25px;
	padding: 5px;
	border-radius: 100px;
	right: 25px;
	background-image: url(img/arrow_bottom.svg);
	background-repeat: no-repeat;
	background-size: 22px;
	background-position: center center;
	bottom: 16px;
}
.acd-content {
	display: block;
	height: 0;
	opacity: 0;
	padding: 0 10px;
	visibility: hidden;
}
.acd-content p {
	line-height: 1.7;
	display: inline-block;
	padding-left: 62px;
}
.acd-content img {
	width: 100%;
	display: inline-block;
	vertical-align: top;
}
.acd-content p > img {
	display: block;
	width: 100%;
}
.acd-check:checked + .acd-label::after {
	background-image: url(img/arrow_bottom.svg);
	transform: rotate(180deg);
}
.acd-check:checked + .acd-label + .acd-content {
	height: 100%;
	opacity: 1;
	padding: 25px 30px;
	visibility: visible;
	background: var(--blue2);
	border: solid 1px var(--blue3);
	position: relative;
}
.acd-check:checked + .acd-label + .acd-content::before {
	content: 'A';
	position: absolute;
	margin: auto;
	height: 70px;
	width: 120px;
	top: 17px;
	left: 40px;
	font-weight: 600;
	font-size: 21px;
	color: var(--blue1);
}
.qna-item:last-of-type .acd-check:checked + .acd-label + .acd-content {
	border-radius: 0 0 8px 8px;
}
@media only screen and (max-width: 639px) {
	#qna {
		padding-bottom: 0;
	}
	#qna .inner {
		width: 100%;
		padding: 0;
	}
	.acd-label::after {
		top: 24%;
		right: 10px;
		bottom: 0;
		background-size: 18px;
	}
	.question {
		margin-right: 2%;
		padding: 0 10px 0 0;
	}
	.q-heading {
		align-items: center;
		width: 100%;
	}
	.acd-label {
		padding: 4% 10% 4% 4%;
	}
	.acd-check:checked + .acd-label + .acd-content {
		padding: 25px 4%;
	}
	.acd-check:checked + .acd-label + .acd-content::before {
		left: 4%;
	}
	.acd-content p {
		padding-left: 9%;
	}
}

/* contact */
#contact {
	color: white;
	background: var(--blue1);
}
#contact .mainttl,
#contact .help_new__content .tel,
#contact .help_linkhub {
	color: white;
}
#contact .help_linkhub {
	position: relative;
}
#contact .help_linkhub::after {
	filter: invert(1);
}
#contact .contect-item {
	position: relative;
}

#contact .contect-item::after {
	position: absolute;
	content: '';
	border-left: solid 1px white;
	height: 80%;
	width: 1px;
	left: 59%;
	right: auto;
}
@media only screen and (max-width: 639px) {
	#contact .contect-item {
		flex-direction: column;
	}
	#contact .contect-item div {
		margin: 5% 0;
		width: 70%;
	}
	#contact .contect-item::after {
		display: none;
	}
	#contact .help_new__content .tel {
		filter: brightness(100);
	}
}

/* help */
#help {
	background: #33c8e8;
}
#help .inner {
	padding-bottom: 30px;
}
#help .mainttl,
#help p {
	color: white;
}
#help .help_btn {
	color: #33c8e8;
	background: white;
}
#help .help_btn:hover {
	color: white;
	text-decoration: none;
	opacity: 0.6;
}
@media only screen and (max-width: 639px) {
	#contact .mainttl,
	#help .mainttl {
		font-size: 2em;
	}
	#help p {
		text-align: left;
		width: 90%;
	}
}

/* relate */
.step_line {
	text-align: center;
}
.step_line_p01 {
	margin: 0 auto;
	background-image: url('img/bg_step.png');
	width: 15px;
	display: block;
	height: 363px;
}
.step_line_p02 {
	margin: 0 auto;
	background-image: url('img/bg_step.png');
	width: 15px;
	display: block;
	height: 90px;
}
.app_box {
	width: 306px;
	height: 273px;
	position: relative;
	float: left;
	padding: 0 20px 0 0;
}
.app_box_bg01 {
	background-image: url('img/bg_application01.png');
	background-repeat: no-repeat;
}
.app_box_bg02 {
	background-image: url('img/bg_application02.png');
	background-repeat: no-repeat;
}
.app_box_bg03 {
	background-image: url('img/bg_application03.png');
	background-repeat: no-repeat;
}
.app_box h2 {
	position: absolute;
	left: 90px;
	top: 35px;
	font-size: 130%;
}
.app_box p {
	position: absolute;
	left: 10px;
	top: 90px;
	width: 280px;
}
.info_title {
	background-image: url('img/arr_info.gif');
	background-repeat: no-repeat;
	font-weight: bold;
	background-position: 0px 4px;
	padding: 0 0 0 15px;
	margin: 0 0 0 5px;
	float: left;
}
#info_box {
	clear: both;
	padding: 5px 0 0 0;
}
#info_box_head table {
	margin: 5px 22px;
}
input {
	position: relative;
	top: 2px;
}
.padding01 {
	padding: 0 15px 0 2px;
}
#info_box_head02 {
	text-align: right;
	overflow: auto;
	width: 680px;
	padding: 2px 18px 2px 0;
	float: right;
}
#info_box_head02 p {
	float: right;
	margin: 0 auto;
	padding: 0px 0 5px 55px;
	background-image: url('img/ic_need.png');
	background-repeat: no-repeat;
}
#info_table {
	width: 960px;
	clear: both;
}
.info_table01 {
	background-color: #fffce4;
	width: 230px;
	height: 48px;
	padding: 0 0 0 20px;
	border-left: 1px solid #e6e6e0;
	border-top: 1px solid #e6e6e0;
}
.need {
	background-image: url('img/ic_need.png');
	background-repeat: no-repeat;
	background-position: 90%;
}
.info_table02 {
	margin: 0 auto;
	padding: 10px 15px;
	border-right: 1px solid #e6e6e0;
	border-top: 1px solid #e6e6e0;
	width: 710px;
}
.info_textbox01 {
	margin: 0 23px 0 15px;
	width: 150px;
}
.info_textbox02 {
	margin: 0 0px 0 20px;
	width: 150px;
}
.info_textbox03 {
	margin: 0 20px 0 4px;
	width: 150px;
}
.info_textbox010 {
	margin: 0 0px 0 0px;
	width: 99%;
}
.width01 {
	width: 50px;
}
.info_textbox04 {
	margin: 0 0px 0 10px;
	width: 150px;
}
.padding02 {
	padding: 0 0 0 10px;
}
.padding03 {
	padding: 2px 0;
}
.info_textbox05 {
	width: 99%;
}
.fontsize01 {
	font-size: 95%;
}
.size01 {
	font-size: 85%;
}
.app_box_bg02 p {
	line-height: 1.4em;
}
.select01 {
	padding: 0 40px 0 0;
	float: left;
}
.select01 select {
	width: 80px;
}
.info_textbox06 {
	width: 50%;
}
.chk_width01 {
	width: 150px;
	padding: 2px 0px;
}
.chk_width02 {
	width: 300px;
	padding: 2px 0px;
}
.rdo_width01 {
	width: 150px;
	padding: 2px 0px;
}
.rdo_width02 {
	width: 170px;
	padding: 2px 0px;
}
.textarea01 {
	width: 99%;
	height: 100px;
	overflow: auto;
}
#info_bar {
	padding: 0 0 20px 0;
}
.border_bottom {
	border-bottom: 1px solid #e6e6e0;
}
.padding04 {
	padding: 5px 0 0 5px;
}
.padding05 {
	padding: 0 0 0 20px;
}
.form_submit {
	padding: 25px 0px;
	text-align: center;
}
.no_border {
	border: none !important;
}
#app_head_text {
	clear: both;
	padding: 5px 0 0 0;
	width: 960px;
}
.page_top {
	text-align: right;
	overflow: auto;
	padding: 25px 0px 35px 10px;
	width: 950px;
}
.page_top p {
	float: right;
	background-image: url('img/arr_pagetop.gif');
	background-repeat: no-repeat;
	padding: 2px 0 0 15px;
	cursor: pointer;
}
.title_bar01 {
	background-image: url('img/bg_title-bar01.png');
	background-repeat: no-repeat;
	width: 960px;
	height: 30px;
	margin: 0px 0px 10px 0;
	padding: 0 0 0 0px;
}
.title_bar01 p {
	padding: 0 0 0 20px;
	font-size: 150%;
}
.step_titlearea {
	padding: 0 0 0 10px;
	font-weight: bold;
}
.step.form_help_area a {
	text-decoration: none;
	line-height: 1.5;
}
.step_title {
	color: #27ae60;
	font-size: 120%;
}
.form_help_area {
	height: 364px;
	position: relative;
	padding: 0;
	width: 86%;
	padding-left: 15%;
}
.form_help_text {
	padding-bottom: 1%;
}
.help_new__content,
.contect-help,
.help_new__content p,
.contect-help p {
	text-align: center;
}
.help_new__content .tel {
	font-size: 34px;
	font-weight: bolder;
	color: var(--blue1);
	padding-left: 42px;
	background: left / contain no-repeat url(img/tel_icon.svg);
}
.contect-help {
	margin: -4px auto;
	padding: 15px 0;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contect-help p {
	margin-bottom: 4px;
}
.help_new__content p {
	font-size: 12px;
}
.help_btn_area {
	display: inline-block;
	background: white;
	border: 1px solid var(--color-navy);
	border-radius: 8px;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
	text-align: center;
	vertical-align: middle;
}
.help_btn {
	position: relative;
	display: block;
	padding: 10px 32px;
	color: white;
	border-radius: 300px;
	font-size: 20px;
	text-align: center;
	font-weight: 600;
	letter-spacing: 0.1em;
	text-decoration: none;
	transition: 0.25s linear;
	-webkit-transition: 0.25s linear;
	-moz-transition: 0.25s linear;
	background: linear-gradient(21.23deg, #39c1fd 16.84%, #00a7ff 89.01%);
	margin: 8px 0;
}
.help_new__content .help_btn {
	background: linear-gradient(47deg, #ff7f00 30%, #ffa800 70%);
}
.help_btn span {
	font-size: 14px;
}
.help_new__btn::before,
.help_btn::before {
	position: absolute;
	content: '';
	width: 20px;
	height: 17px;
	top: 31%;
	margin: auto;
	background: url(img/form-icon.png) no-repeat top center;
}
.help_new__btn::before {
	left: 42px;
}
.help_btn::before {
	left: 82px;
}
#info_box {
	padding: 0px 0 0 0;
}
@media only screen and (max-width: 639px) {
	.help_new__content .tel {
		padding-left: 36px;
		font-size: 30px;
		letter-spacing: 0;
		background-size: 6vw;
	}
	.contect-item .help_new__content p {
		padding: 0;
	}
}

/* サンクス画面 */
.padding_thanks {
	padding: 20px 10px 20px 30px !important;
}
#side {
	padding: 14px 0 0 0px !important;
}
#main_box {
	margin: 20px 0 200px 0;
	background-image: url('img/bg_thanks01.png');
	background-repeat: no-repeat;
	width: 980px;
	height: 418px;
	position: relative;
}
#main_box img {
	position: absolute;
	top: 195px;
	left: 165px;
}
#main_box_inner {
	position: absolute;
	bottom: 20px;
	left: 165px;
}
.form_help_area01 a {
	background-image: url('img/btn_tel.png');
	background-repeat: no-repeat;
	width: 105px;
	height: 60px;
	display: block;
}
.form_help_area01 a:hover {
	background-image: url('img/btn_tel_on.png');
	background-repeat: no-repeat;
	width: 105px;
	height: 60px;
	display: block;
}
.form_help_area02 a {
	background-image: url('img/btn_form.png');
	background-repeat: no-repeat;
	width: 239px;
	height: 44px;
	display: block;
}
.form_help_area02 a:hover {
	background-image: url('img/btn_form_on.png');
	background-repeat: no-repeat;
	width: 239px;
	height: 44px;
	display: block;
}
#form_submit {
	padding: 10px 0 20px 0;
}
#form_submit a {
	background-image: url('img/btm_form-submit.png');
	background-repeat: no-repeat;
	width: 290px;
	height: 60px;
	display: block;
	margin: 0 auto;
}
#form_submit a:hover {
	background-image: url('img/btm_form-submit_on.png');
	background-repeat: no-repeat;
	width: 290px;
	height: 60px;
	display: block;
	margin: 0 auto;
}
#contents_left {
	float: left;
	width: 980px;
}

/* site */
#related .inner {
	margin-bottom: 38px;
}
.site {
	display: flex;
	align-items: center;
	width: auto;
	padding: 20px;
	margin: 30px 20px 0 0;
	border: solid 5px var(--gray);
	border-radius: 8px;
}
.site:last-of-type {
	margin-top: 10px;
}
.site .text {
	width: auto;
	font-size: 12px;
	color: #434343;
	padding: 10px 10px 10px 30px;
}
.site .text a {
	position: relative;
	color: #05b3ff;
	text-decoration: underline;
}
.site .text a:after {
	background-image: url('img/t_blank_b.svg');
}
@media only screen and (max-width: 639px) {
	.site {
		flex-direction: column;
		margin: 4% auto;
		width: 80%;
	}
	.site .text {
		padding: 0;
		margin-top: 4%;
	}
	.site .text a {
		float: right;
		right: 20px;
	}
	.site .text a:after {
		bottom: 5px;
	}
	#Footer .footin .pc_change p a {
		padding: 15px 10px 15px 32px;
	}
}
