@charset "utf-8";
:root {
	--primary: #05b3ff;
}
* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 18px;
}
.pc {
	display: block;
}
.sp {
	display: none;
}
.scrollIn {
	opacity: 0;
}
.fadeInUp {
	animation: fadeInUp 0.5s ease forwards;
}
.inner {
	width: 1000px;
	margin: 0 auto;
}
.mainTtl {
	position: relative;
	padding-top: 30px;
	color: var(--primary);
	text-align: center;
	letter-spacing: 1.5px;
}
.mainTtl::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 5px;
	border-radius: 10px;
	top: 0%;
	left: 0;
	right: 0;
}
.secondTtl {
	letter-spacing: 1.5px;
	margin: 40px 0 10px;
}
.secondTtl span {
	margin-right: 10px;
	padding: 10px;
	color: var(--primary);
	font-size: 16px;
	background-color: #e2f5ff;
	border-radius: 4px;
}
.secondTtl strong,
h4 strong {
	color: var(--primary);
}
.y_line {
	background-image: linear-gradient(to right, #ffdd9b 50%, transparent 50%);
	background-size: 200% 100%;
	background-repeat: no-repeat;
	background-position: 0 8px;
	font-weight: bold;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 50px, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}
@media only screen and (max-width: 639px) {
	.pc {
		display: none;
	}
	.sp {
		display: block;
	}
	body {
		width: 100%;
		padding: 67px 0 0 0;
	}
}

.txtBold {
	font-weight: bold;
}
.txtS {
	font-size: 85%;
}
.txtGreen {
	color: #47c681;
}
.marker {
	background: linear-gradient(#fff0 50%, #fff0 60%, #fcf0ae 60%);
}

#corporate {
	font-size: 14px;
	font-feature-settings: 'palt';
	letter-spacing: 1.2px;
	line-height: 2;
}
#main {
	width: 100%;
	background-image: none;
}
#breadcrumb_list {
	width: 1000px;
	margin: 10px auto 0;
}

/* #mainvisual */
#mainvisual {
	position: relative;
	background: bottom center / cover no-repeat url('img/bg_mainvisual.png');
}
#mainvisual .inner {
	position: relative;
	margin: 0 auto;
	padding-top: 45px;
	width: 1000px;
	height: 240px;
	box-sizing: border-box;
	background: bottom right 100px / contain no-repeat url(img/mainvisual.png);
	z-index: 1;
}
#mainvisual h1 {
	margin-bottom: 0.4em;
	width: fit-content;
	font-weight: bold;
	line-height: 1.2;
	letter-spacing: 0.05em;
	color: var(--primary);
}
#mainvisual h2 .txtM {
	font-size: 60%;
}
#mainvisual h2 .txtS {
	font-size: 50%;
}

/* lead */
#lead {
	color: white;
	background-color: var(--primary);
}
#lead .inner {
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#lead .column {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 40%;
	justify-content: flex-start;
}
#lead .text {
	margin-right: 6px;
	line-height: 1.4;
}
#lead .text p {
	font-size: 15px;
	text-align: center;
}
#lead .text strong {
	font-size: 40px;
}
#lead .price {
	font-weight: bold;
	font-size: 50px;
}
#lead .price span {
	font-size: 100px;
}
#lead .desc {
	line-height: 1.7;
}
#lead .desc h3 {
	line-height: 1.5;
	letter-spacing: 1.5px;
	margin-bottom: 4px;
}
#lead .desc p {
	font-size: 14px;
	letter-spacing: 1.5px;
}

#nayami {
	background-color: #f0f4f3;
}
#nayami .inner .pickup {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	bottom: 20px;
}
#nayami .inner .pickup div {
	width: 147px;
	height: 31px;
	background-color: #ffffff91;
	border-radius: 8px;
	text-align: center;
	padding: 110px 60px 60px;
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px) contrast(20%);
}
#nayami .inner .item {
	display: flex;
	justify-content: center;
}
#nayami .inner .item div {
	position: relative;
	margin: 10px;
	padding: 30px;
	width: 120px;
	height: 120px;
	background-color: #e8e8e8;
	border-radius: 1000px;
}
#nayami .inner .item div p {
	position: absolute;
	margin: 0;
	margin-right: -50%;
	top: 50%;
	left: 50%;
	text-align: center;
	line-height: 1.5;
	transform: translate(-50%, -50%);
}

#merit {
	background-color: #d2f0fc;
	padding: 22px 0;
}
#merit .inner,
#flow .inner {
	margin: 20px auto;
	padding: 0 45px 40px;
	background: white;
	max-width: 860px;
	border-radius: 8px;
}
#merit .mainTtl::after,
#flow .mainTtl::after {
	background-color: var(--primary);
}
#merit .attention p {
	padding: 20px 261px 20px 52px;
	background-color: #f4f4f4;
	border-radius: 10px;
	margin: 3% 0;
}
#merit .table {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 20px auto 30px;
	flex-direction: row;
	justify-content: center;
}
#merit .table .ttl {
	width: 160px;
	margin-top: 100px;
	border: 1px solid #aaa;
	border-right: none;
	border-radius: 5px 0 0 5px;
}
#merit .table .mynv,
section .table .advrt {
	width: 380px;
}
#merit .table .mynv {
	border-radius: 8px 8px 0 0;
	border: 3px solid var(--primary);
}
#merit .table .mynv li.list-ttl {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	height: 98px;
	background: var(--primary) url(img/logo_wh.png) no-repeat center/220px;
	border-radius: 5px 5px 0 0;
}
#merit .table .advrt {
	margin-top: 23px;
	border-radius: 0 5px 5px 0;
	border: 1px solid #aaa;
	border-left: none;
}
#merit .table .advrt li.list-ttl {
	background: #ddd;
	height: 60px;
	border-radius: 0 5px 0 0;
	font-size: 22px;
	font-weight: bold;
	line-height: 24px;
	padding-top: 17px;
	text-align: center;
}
#merit .table .advrt li.list-ttl span {
	display: block;
	font-size: 14px;
}
#merit .table .bb {
	border-bottom: 1px solid #aaa;
	height: 118px;
}
#merit .table .bb + li {
	height: 164px;
}
#merit .table .ttl li {
	font-size: 17px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	background: url(/employer/img/ico_money_gr.png) no-repeat 50% 28px/30px;
	padding-top: 40px;
}
#merit .table .ttl li:nth-child(2) {
	background-image: url(/employer/img/ico_light_gr.png);
	background-position: 50% 46px;
	padding-top: 48px;
}
#merit .table .mynv .bb,
#merit .table .mynv .bb + li,
#merit .table .advrt .bb,
#merit .table .advrt .bb + li {
	padding: 20px;
	text-align: left;
	font-size: 14px;
}
#merit .table .mynv .bb li,
#merit .table .mynv .bb + li li,
#merit .table .advrt .bb li,
#merit .table .advrt .bb + li li {
	margin-bottom: 15px;
	padding-left: 26px;
	background: url(img/ico_check.png) no-repeat left 2px/25px;
}
#merit .advisor {
	display: flex;
	align-items: center;am
}
#merit .advisor div {
	margin: 10px 30px 10px 0;
}
#merit .advisor h4 {
	margin-bottom: 10px;
	line-height: 1.7;
}

#flow {
	background-color: #d2f0fc;
	padding: 22px 0;
}
#flow .secondTtl span {
	color: white;
	background: linear-gradient(47deg, var(--primary) 30%, #2bc4ff 70%);
}
.step .form {
	border-radius: 8px;
}
.step .form h3 {
	position: relative;
	padding-left: 17px;
	text-align: left;
	margin: 20px auto 10px;
	border-radius: 8px 8px 0 0;
}
.step .form h3::before {
	content: '';
	position: absolute;
	height: 23px;
	width: 2px;
	border-left: 3px solid var(--primary);
	left: 0;
	bottom: 9px;
}
.step .form h3 span {
	color: var(--primary);
}
.step .form h3:nth-of-type(2) {
	border-radius: 0;
}
.u_line {
	text-decoration: underline;
}
.step {
padding-left: 140px;
}
.step01 {
	background-image: url('img/ic_step01.png');
	background-repeat: no-repeat;
}
.step02 {
	background-image: url('img/ic_step02.png');
	background-repeat: no-repeat;
}
.step03 {
	background-image: url('img/ic_step03.png');
	background-repeat: no-repeat;
}
.step04 {
	background-image: url('img/ic_step04.png');
	background-repeat: no-repeat;
}
.step_line {
	text-align: center;
}
.step_line_p01 {
	margin: 0 auto;
	background-image: url('img/bg_step.png');
	width: 15px;
	display: block;
	height: 363px;
}
.step_line_p02 {
	margin: 0 auto;
	background-image: url('img/bg_step.png');
	width: 15px;
	display: block;
	height: 90px;
}
.app_box {
	width: 306px;
	height: 273px;
	position: relative;
	float: left;
	padding: 0 20px 0 0;
}
.app_box_bg01 {
	background-image: url('img/bg_application01.png');
	background-repeat: no-repeat;
}
.app_box_bg02 {
	background-image: url('img/bg_application02.png');
	background-repeat: no-repeat;
}
.app_box_bg03 {
	background-image: url('img/bg_application03.png');
	background-repeat: no-repeat;
}
.app_box h2 {
	position: absolute;
	left: 90px;
	top: 35px;
	font-size: 130%;
}
.app_box p {
	position: absolute;
	left: 10px;
	top: 90px;
	width: 280px;
}
.info_title {
	background-image: url('img/arr_info.gif');
	background-repeat: no-repeat;
	font-weight: bold;
	background-position: 0px 4px;
	padding: 0 0 0 15px;
	margin: 0 0 0 5px;
	float: left;
}
#info_box {
	clear: both;
	padding: 5px 0 0 0;
}
#info_box_head table {
	margin: 5px 22px;
}
input {
	position: relative;
	top: 2px;
}
.padding01 {
	padding: 0 15px 0 2px;
}
#info_box_head02 {
	text-align: right;
	overflow: auto;
	width: 680px;
	padding: 2px 18px 2px 0;
	float: right;
}
#info_box_head02 p {
	float: right;
	margin: 0 auto;
	padding: 0px 0 5px 55px;
	background-image: url('img/ic_need.png');
	background-repeat: no-repeat;
}
#info_table {
	width: 960px;
	clear: both;
}
.info_table01 {
	background-color: #fffce4;
	width: 230px;
	height: 48px;
	padding: 0 0 0 20px;
	border-left: 1px solid #e6e6e0;
	border-top: 1px solid #e6e6e0;
}
.need {
	background-image: url('img/ic_need.png');
	background-repeat: no-repeat;
	background-position: 90%;
}
.info_table02 {
	margin: 0 auto;
	padding: 10px 15px;
	border-right: 1px solid #e6e6e0;
	border-top: 1px solid #e6e6e0;
	width: 710px;
}
.info_textbox01 {
	margin: 0 23px 0 15px;
	width: 150px;
}
.info_textbox02 {
	margin: 0 0px 0 20px;
	width: 150px;
}
.info_textbox03 {
	margin: 0 20px 0 4px;
	width: 150px;
}
.info_textbox010 {
	margin: 0 0px 0 0px;
	width: 99%;
}
.width01 {
	width: 50px;
}
.info_textbox04 {
	margin: 0 0px 0 10px;
	width: 150px;
}
.padding02 {
	padding: 0 0 0 10px;
}
.padding03 {
	padding: 2px 0;
}
.info_textbox05 {
	width: 99%;
}
.fontsize01 {
	font-size: 95%;
}
.size01 {
	font-size: 85%;
}
.app_box_bg02 p {
	line-height: 1.4em;
}
.select01 {
	padding: 0 40px 0 0;
	float: left;
}
.select01 select {
	width: 80px;
}
.info_textbox06 {
	width: 50%;
}
.chk_width01 {
	width: 150px;
	padding: 2px 0px;
}
.chk_width02 {
	width: 300px;
	padding: 2px 0px;
}
.rdo_width01 {
	width: 150px;
	padding: 2px 0px;
}
.rdo_width02 {
	width: 170px;
	padding: 2px 0px;
}
.textarea01 {
	width: 99%;
	height: 100px;
	overflow: auto;
}
#info_bar {
	padding: 0 0 20px 0;
}
.border_bottom {
	border-bottom: 1px solid #e6e6e0;
}
.padding04 {
	padding: 5px 0 0 5px;
}
.padding05 {
	padding: 0 0 0 20px;
}
.form_submit {
	padding: 25px 0px;
	text-align: center;
}
.no_border {
	border: none !important;
}
#app_head_text {
	clear: both;
	padding: 5px 0 0 0;
	width: 960px;
}
.page_top {
	text-align: right;
	overflow: auto;
	padding: 25px 0px 35px 10px;
	width: 950px;
}
.page_top p {
	float: right;
	background-image: url('img/arr_pagetop.gif');
	background-repeat: no-repeat;
	padding: 2px 0 0 15px;
	cursor: pointer;
}
.title_bar01 {
	background-image: url('img/bg_title-bar01.png');
	background-repeat: no-repeat;
	width: 960px;
	height: 30px;
	margin: 0px 0px 10px 0;
	padding: 0 0 0 0px;
}
.title_bar01 p {
	padding: 0 0 0 20px;
	font-size: 150%;
}
.step_titlearea {
	padding: 0 0 0 10px;
	font-weight: bold;
}
.step.form_help_area a {
	text-decoration: none;
	line-height: 1.5;
}
.step_title {
	color: #27ae60;
	font-size: 120%;
}

.form_help_area {
	height: 364px;
	position: relative;
	padding: 0;
	width: 86%;
	padding-left: 15%;
}
.form_help_text {
	padding-bottom: 1%;
}
.help__content {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: -4px 0;
	padding: 18px 0;
	background: #f4f4f4;
	border-radius: 16px;
}
.help_new__content,
.help_partner,
.help_new__content p,
.help_partner p {
	text-align: center;
}
.help_new__content .tel {
	font-size: 34px;
	font-weight: bolder;
	color: var(--primary);
	padding-left: 42px;
}
.help_partner {
	margin: -4px auto;
	padding: 15px 0;
	background: #f4f4f4;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.help_partner p {
  margin-bottom: 10px;
}
.help_new__content p {
	font-size: 12px;
}
.help_btn_area {
	display: inline-block;
	background: white;
	border: 1px solid var(--color-navy);
	border-radius: 8px;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
	text-align: center;
	vertical-align: middle;
}
.help_btn {
	position: relative;
	display: block;
	padding: 10px 32px;
	color: white;
	border-radius: 300px;
	font-size: 20px;
	text-align: center;
	font-weight: 600;
	letter-spacing: 0.1em;
	text-decoration: none;
	transition: 0.25s linear;
	-webkit-transition: 0.25s linear;
	-moz-transition: 0.25s linear;
	background: linear-gradient(21.23deg, #39c1fd 16.84%, #00a7ff 89.01%);
}
.help_new__content .help_btn {
	background: linear-gradient(47deg, #ff7f00 30%, #ffa800 70%);
}
.help_btn span {
	font-size: 14px;
}
.help_new__btn::before,
.help_btn::before {
	position: absolute;
	content: '';
	width: 20px;
	height: 17px;
	top: 31%;
	margin: auto;
	background: url(img/form-icon.png) no-repeat top center;
}
.help_new__btn::before {
	left: 42px;
}
.help_btn::before {
	left: 82px;
}
.step.form_help_area .help_linkhub {
	text-decoration: underline;
	position: relative;
}
.step.form_help_area .help_linkhub::after {
	position: absolute;
	content: '';
	width: 14px;
	height: 14px;
	background: bottom / cover no-repeat url(img/t_blank.svg);
	bottom: 0;
	right: -18px;
}
#info_box {
	padding: 0px 0 0 0;
}
/* サンクス画面 */
.padding_thanks {
	padding: 20px 10px 20px 30px !important;
}
#side {
	padding: 14px 0 0 0px !important;
}
#main_box {
	margin: 20px 0 200px 0;
	background-image: url('img/bg_thanks01.png');
	background-repeat: no-repeat;
	width: 980px;
	height: 418px;
	position: relative;
}
#main_box img {
	position: absolute;
	top: 195px;
	left: 165px;
}
#main_box_inner {
	position: absolute;
	bottom: 20px;
	left: 165px;
}
.form_help_area01 a {
	background-image: url('img/btn_tel.png');
	background-repeat: no-repeat;
	width: 105px;
	height: 60px;
	display: block;
}
.form_help_area01 a:hover {
	background-image: url('img/btn_tel_on.png');
	background-repeat: no-repeat;
	width: 105px;
	height: 60px;
	display: block;
}
.form_help_area02 a {
	background-image: url('img/btn_form.png');
	background-repeat: no-repeat;
	width: 239px;
	height: 44px;
	display: block;
}
.form_help_area02 a:hover {
	background-image: url('img/btn_form_on.png');
	background-repeat: no-repeat;
	width: 239px;
	height: 44px;
	display: block;
}
#form_submit {
	padding: 10px 0 20px 0;
}
#form_submit a {
	background-image: url('img/btm_form-submit.png');
	background-repeat: no-repeat;
	width: 290px;
	height: 60px;
	display: block;
	margin: 0 auto;
}
#form_submit a:hover {
	background-image: url('img/btm_form-submit_on.png');
	background-repeat: no-repeat;
	width: 290px;
	height: 60px;
	display: block;
	margin: 0 auto;
}
#contents_left {
	float: left;
	width: 980px;
}

/* メディカルサポネット, マイナビ顧問 */
.msapoBox {
	width: auto;
	background: #f3f3f3;
	padding: 20px;
	margin: 40px 20px 0 0;
}
.komonBox {
	width: auto;
	background: #f3f3f3;
	padding: 20px;
	margin: 20px 20px 0 0;
}
.msapoBox p,
.komonBox p {
	display: table-cell;
	vertical-align: middle;
}
.msapoBox .contentBox,
.komonBox .contentBox {
	width: auto;
	font-size: 12px;
	color: #434343;
	padding: 10px 10px 10px 30px;
}
.msapoBox .contentBox a,
.komonBox .contentBox a {
	color: #3372d9;
}
.msapoBox .contentBox span,
.komonBox .contentBox span {
	display: block;
	margin-top: 15px;
	text-decoration: underline;
}
.msapoBox .contentBox span:after,
.komonBox .contentBox span:after {
	content: '';
	background: url('img/icon.png') no-repeat;
	background-position: 2px 2px;
	width: 10px;
	height: 10px;
	display: inline-block;
}
