@charset "utf-8";
a,
a:visited,
body {
	color: #000;
}
body {
	font-size: 85%;
	font-family: 'ＭＳ Ｐゴシック', 'メイリオ', Osaka, 'ヒラギノ角ゴ Pro W3';
	line-height: 1.5;
	margin: 0 auto;
	background-size: 11px 11px;
	-webkit-text-size-adjust: 100%;
	width: 100%;
	padding: 67px 0 0 0;
}
html > body {
	font-size: 12px;
}
.scroll-prevent {
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
}
.btn_reason {
	width: 96%;
	margin: 0 auto 10px;
}
.btn_reason img {
	width: 100%;
	margin: 0 auto;
}
#Header .headin .cam {
	background: #f9ca59;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #377e99;
	font-weight: 700;
	float: left;
	text-align: center;
	margin: 10px 0 0;
	font-size: 80%;
	padding: 0 10px;
	width: 25%;
}
#Grybox,
#Header .navbox {
	width: 100%;
	left: 0;
	top: 0;
}
#Header {
	padding: 5px;
	position: fixed !important;
	top: 0;
	left: 0;
	z-index: 9999999999;
	width: 100%;
	background: #fff;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	transition: 0.3s;
}
body.app #Header {
	position: absolute !important;
}
.nav-opener {
	pointer-events: painted;
	display: inline-block;
	vertical-align: top;
}
#Header h1 {
	font-size: 10px;
	line-height: 1.2;
	margin: 0 0 5px;
}
#Header .headin .logo {
	float: left;
	padding: 8px 0 0;
	width: 42%;
}
@media screen and (max-width: 320px) {
	#Header .headin .logo {
		float: left;
		padding: 8px 0 0;
		width: 40%;
	}
}
#Header .headin .logo img,
#Header .headin .btn img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
	margin: 0 auto;
}
#Header .headin .btn {
	float: right;
}
#Header .navbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #ecf7fb;
	display: none;
	z-index: 9999;
	padding: 15px;
	box-sizing: border-box;
	overflow: scroll;
	/*
    height: 100vh;
    */
}
/* move-header ---start*/
#Header.ik-move-header {
	padding: 2%;
	position: fixed;
	box-sizing: border-box;
	background: #fff;
	justify-content: space-between;
	top: 0;
	transition: 0.5s;
	width: 100%;
	z-index: 10000;
}
#Header.ik-move-header.hide {
	top: -80px;
}
.ik-header-space {
	padding-top: 75px;
}
/* hamburger-menu ---start*/
#Header .navbox ul {
	padding: 2% 0;
}
#Header .navbox ul.ik-m-memory-btns {
	padding: 0;
	display: flex;
	background: #fff;
}
#Header .navbox ul li {
	line-height: 1;
	text-align: left;
	border-bottom: 1px solid #00acec;
	display: inline-block;
	width: 49%;
}
#Header .navbox ul li.ik-m-memory-btns__item {
	border-bottom: 0;
	width: 33%;
	display: inline-block;
}
#Header .navbox ul li.ik-m-memory-btns__item a {
	background: none;
	padding: 5%;
	font-weight: bold;
	font-size: 3.3vw;
}

#Header .navbox .ik-m-memory-btns {
	display: table;
	width: 100%;
	table-layout: fixed;
	border: 1px solid #bad2dc;
	border-radius: 4px;
}

#Header .navbox .ik-m-memory-btns__item {
	display: table-cell;
	vertical-align: middle;
}

#Header .navbox .ik-m-memory-btns__item + #Header .navbox .ik-m-memory-btns__item {
	border-left: 1px solid #bad2dc;
}

#Header .navbox .ik-m-memory-btns__btn {
	display: block;
	padding: 6px;
	color: #00aaeb;
	font-size: 10px;
	text-align: center;
	line-height: 1.2;
}
#Header .navbox .ik-t-search-home__memory-btns {
	margin-top: 13px;
}
#Header .navbox .ik-a-container {
	position: relative;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}
#Header .navbox .ik-m-memory-btns__btn:visited {
	color: #00aaeb;
}

#Header .navbox .ik-m-memory-btns__btn > span {
	display: block;
}

#Header .navbox .ik-m-memory-btns__btn__icon {
	font-size: 20px;
	height: 24px;
}

#Header .navbox .ik-m-memory-btns__btn__icon i {
	vertical-align: top;
}

#Header .navbox .ik-m-memory-btns__btn__icon--small {
	font-size: 18px;
}

#Header .navbox .ik-m-memory-btns__btn__icon--xsmall {
	font-size: 16px;
}

#Header .navbox .ik-m-memory-btns__btn__txt {
	margin-top: 4px;
}

#Header .navbox .ik-m-memory-btns__item + .ik-m-memory-btns__item {
	border-left: 1px solid #bad2dc;
}
@font-face {
	font-family: ir;
	src: url(/common/font/iryokaigo/ir.eot?#iefix) format('embedded-opentype'), url(/common/font/iryokaigo/ir.woff) format('woff'), url(/common/font/iryokaigo/ir.ttf) format('truetype'),
		url(/common/font/iryokaigo/ir.svg#ir) format('svg');
	font-weight: 400;
	font-style: normal;
}
.ik-a-region-h {
	position: relative;
	padding-left: 25px;
}
.ir-i-angle-down:before,
.ir-i-angle-left:before,
.ir-i-angle-right:before,
.ir-i-angle-up:before,
.ir-i-blank:before,
.ir-i-change:before,
.ir-i-close:before,
.ir-i-facebook:before,
.ir-i-google-plus:before,
.ir-i-human:before,
.ir-i-plus-bold:before,
.ir-i-plus:before,
.ir-i-search:before,
.ir-i-star-full:before,
.ir-i-star:before,
.ir-i-time:before,
.ir-i-twitter:before {
	display: inline-block;
	font-family: ir;
	font-size: inherit;
	font-style: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.ir-i-plus:before {
	content: '';
}

.ir-i-star:before {
	content: '';
}

.ir-i-time:before {
	content: '';
}
.ik-a-region-h:before,
.ik-a-select:after,
.ik-m-bar-header__h:before {
	content: ' ';
}

.ik-a-region-h:before {
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -8px;
	border-radius: 100%;
	border-width: 3px;
	border-style: solid;
}

.ik-a-region-h--small {
	padding-left: 15px;
}

.ik-a-region-h--small:before {
	width: 10px;
	height: 10px;
	margin-top: -5px;
	border-width: 2px;
}
.ik-a-region-h--pt:before {
	border-color: #0074e1;
}

.ik-a-region-h--ot:before {
	border-color: #ec71a4;
}

.ik-a-region-h--st:before {
	border-color: #58c7ab;
}

.ik-a-region-h--mengineer:before {
	border-color: #a184f4;
}
.ik-a-region-h--me:before {
	border-color: #ff7f00;
}
.ik-a-region-h--mt:before {
	border-color: #0099cc;
}
.ik-a-region-h--rt:before {
	border-color: #00cc33;
}
.ik-a-region-h--kaigo:before {
	border-color: #eac533;
}

.ik-a-region-h--other:before {
	border-color: #5b636e;
}
.ik-m-region-btns__btn {
	border-top: 1px solid #e0e0e0;
}
#Header .navbox .ik-m-region-btns__btn__content:after,
#Header .navbox .ik-m-region-links__btn:after {
	content: '';
	top: 50%;
	margin-top: -5px;
	font-family: ir;
	font-style: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1;
}

#Header .navbox .ik-m-region-btns__content {
	display: table;
	width: 100%;
	table-layout: fixed;
	border: 1px solid #e0e0e0;
	border-top: none;
	border-radius: 0 0 4px 4px;
	box-sizing: border-box;
	background-color: #fff;
}

#Header .navbox .ik-m-region-btns__row {
	display: table-row;
}

#Header .navbox .ik-m-region-btns__btn {
	display: table-cell;
	padding: 15px 8px;
	font-size: 3vw;
}

#Header .navbox .ik-m-region-btns__btn + .ik-m-region-btns__btn {
	border-left: 1px solid #e0e0e0;
}

#Header .navbox .ik-m-region-btns__btn .ik-a-region-h {
	display: block;
}

#Header .navbox .ik-m-region-btns__btn__outside {
	display: inline-block;
	width: 100%;
	position: relative;
	background: url(/sp/images/re/icn_outside_mk.png) no-repeat right center;
	background-size: 12px auto;
	-moz-background-size: 12px auto;
	-webkit-background-size: 12px auto;
	-ms-background-size: 12px auto;
}

#Header .navbox .ik-m-region-btns__btn__content {
	display: inline-block;
	width: 100%;
	position: relative;
}

#Header .navbox .ik-m-region-btns__btn__content:after {
	display: inline-block;
	position: absolute;
	right: 0;
	color: #d2d2d2;
	font-size: 10px;
}
#Footer .footin .pc_change p,
#Header .navbox .close,
.com_srcbox .srcbox .srcin .srct ul.slt .btn,
.com_srcbox .srcbox .tls {
	text-align: center;
	line-height: 1;
}
#Header .navbox ul li a {
	display: block;
	font-size: 3vw;
	padding: 15px 10px 15px 20px;
	background: url('../../images/re/dec_arw_rund_bl.png') 5px 50% no-repeat;
	background-size: 9px auto;
	-moz-background-size: 9px auto;
	-webkit-background-size: 9px auto;
}
#Header .navbox .close {
	margin: 10px;
}
#Header .navbox .close a {
	padding: 10px;
	display: block;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	zoom: 1;
	background: -moz-linear-gradient(top, #d8d8d8, #969696);
	background: -webkit-gradientf(linear, left top, left bottom, from(#d8d8d8), to(#969696));
	background: linear-gradient(to bottom, #d8d8d8, #969696);
	font-size: 14px;
	font-weight: 700;
	color: #fff;
}
#Header .navbox .close .btn {
	cursor: pointer;
	padding: 10px;
	display: block;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	zoom: 1;
	background: -moz-linear-gradient(top, #d8d8d8, #969696);
	background: -webkit-gradientf(linear, left top, left bottom, from(#d8d8d8), to(#969696));
	background: linear-gradient(to bottom, #d8d8d8, #969696);
	font-size: 14px;
	font-weight: 700;
	color: #fff;
}

#Header .navbox .ik-m-cta {
	text-align: center;
	display: block;
}
#Header .navbox .ik-m-cta__search,
#Header .navbox .ik-m-cta__entry {
	display: inline-block;
	position: relative;
	color: #fff;
	border-radius: 4px;
	width: 48%;
	height: 55px;
	vertical-align: top;
	box-sizing: border-box;
}
#Header .navbox .ik-m-cta__search a,
#Header .navbox .ik-m-cta__entry a {
	color: #fff;
	display: block;
	font-weight: bold;
}
#Header .navbox .ik-m-cta__search a {
	padding: 11% 0;
}
#Header .navbox .ik-m-cta__entry a {
	padding: 6% 0;
}
#Header .navbox .ik-m-cta__search {
	background-color: #00a1e9;
	margin-right: 1%;
	vertical-align: top;
}
#Header .navbox .ik-m-cta__entry {
	background-color: #fe9100;
}
#Header .navbox .ik-m-cta__entry::before {
	display: inline-block;
	font-family: ir;
	font-style: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: '';
	position: absolute;
	left: 5%;
	top: 50%;
	margin-top: -6px;
	font-size: 14px;
	line-height: 1;
}
#Header .navbox .h2_common {
	height: 28px;
	color: #fff;
	text-align: center;
	padding-top: 7px;
	background: #00a1e9;
}
/* hamburger-menu ---end*/
#Grybox {
	display: none;
	z-index: 9998;
	height: 200%;
	position: fixed;
	background: rgba(0, 0, 0, 0.6);
}
#Footer .footin {
	background: #f4f4f4;
	padding: 10px;
}
#Footer .footin .pc_change {
	margin: 0 0 10px;
	width: 40%;
	float: left;
}
#Footer .footin .logo_area {
	width: 57%;
	margin: 0;
	float: right;
}
#Footer .footin .logo_area img {
	margin-left: 1%;
	border: 3px solid #fff;
	background-color: #fff;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width: 18%;
	height: auto;
}
#Footer .footin .pc_change p {
	width: 120px;
}
#Footer .footin .pc_change p a {
	border: 1px solid #00a0e9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 15px 10px 15px 25px;
	background: url('../../images/re/icn_pc.png') 10px 50% no-repeat #fff;
	background-size: 20px auto;
	-moz-background-size: 20px auto;
	-webkit-background-size: 20px auto;
	color: #00a0e9;
	font-size: 13px;
	display: block;
}
#Footer .footin .bnr_box_inner {
	margin: 0 0 10px;
	clear: both;
}
#Footer .footin .bnr_box_inner:last-child {
	margin: 0;
}
#Footer .footin .bnr_box_inner dt {
	border-left: 3px solid #00a0e9;
	height: 15px;
	margin-bottom: 5px;
	padding-left: 5px;
	font-size: 12px;
	font-weight: 700;
}
.w300,
.w320 {
	margin: 0 auto;
}
#Footer .footin .bnr_box_inner dd p {
	float: left;
	border: none;
	font-size: 11px;
}
.w300 {
	width: 300px;
}
.w320 {
	width: 320px;
}
.img85 {
	width: 85%;
}
.img90 {
	width: 90%;
}
.img100 {
	width: 100%;
}
.com_srcbox {
	padding: 10px;
}
.com_srcbox .srcbox .tls {
	margin: 0 0 10px;
}
.com_srcbox .srcbox .btnbx {
	width: 300px;
	margin: 0 auto 10px;
}
.com_srcbox .srcbox .btnbx p {
	float: left;
}
.com_srcbox .srcbox .btnbx p:last-child {
	float: right;
}
.com_srcbox .srcbox .srcin {
	padding: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #e7e7e7;
}
.com_srcbox .srcbox .srcin .tlin {
	margin: 0 0 10px;
}
.com_srcbox .srcbox .srcin .tlin .tl {
	float: left;
	font-weight: 700;
	line-height: 1;
	padding: 4px 0 0;
}
.com_srcbox .srcbox .srcin .tlin .num {
	float: right;
	font-weight: 700;
	line-height: 1;
}
.com_srcbox .srcbox .srcin .tlin .num span {
	font-weight: 700;
	font-size: 16px;
	color: #00a0e9;
}
.com_srcbox .srcbox .srcin .srct {
	width: 280px;
	margin: 0 auto;
}
.com_srcbox .srcbox .srcin .srct ul.slt li.nm1 a,
.com_srcbox .srcbox .srcin .srct ul.slt li.nm2 a {
	width: 221px;
	height: 29px;
	padding: 11px 19px 0 40px;
	font-size: 13px;
	color: #000;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: 700;
}
.com_srcbox .srcbox .srcin .srct ul.slt li {
	margin: 0 0 10px;
}
.com_srcbox .srcbox .srcin .srct ul.slt li a {
	display: block;
}
.com_srcbox .srcbox .srcin .srct ul.slt li.nm1 a {
	background: url('../../images/re/top_search_select_img01.png') no-repeat;
	background-size: 280px auto;
	-moz-background-size: 280px auto;
	-webkit-background-size: 280px auto;
}
.com_srcbox .srcbox .srcin .srct ul.slt li.nm2 a {
	background: url('../../images/re/top_search_select_img02.png') no-repeat;
	background-size: 280px auto;
	-moz-background-size: 280px auto;
	-webkit-background-size: 280px auto;
}
#Pop_grybox,
#Pop_srcbox {
	width: 100%;
	position: fixed;
	left: 0;
	z-index: 999999;
}
.com_srcbox .srcbox .srcin .srct ul.slt li:last-child {
	margin: 0;
}
.com_srcbox .srcbox .srcin .srct ul.slt .btn a {
	padding: 10px;
	color: #fff;
	background: #00a0e9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: block;
}
#Pop_grybox {
	top: 0;
	height: 100%;
	background: #000;
	opacity: 0.6;
	filter: alpha(opacity=60);
	-ms-filter: 'alpha(opacity=60 )';
	display: none;
}
#Pop_srcbox {
	top: 10px;
}
#Pop_srcbox .popbox {
	margin: 0 10px;
	display: none;
	border: 1px solid #0094cc;
}
#Pop_srcbox .popbox .ttlbx {
	background: #00aaeb;
	border: 1px solid #38bdef;
	padding: 0 0 0 10px;
}
#Pop_srcbox .popbox .ttlbx .nm {
	float: left;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	padding: 10px 0 0;
}
#Pop_srcbox .popbox .ttlbx .nm .ic {
	padding: 3px 8px;
	color: #00aaeb;
	font-weight: 700;
	background: #fff;
	margin: 0 5px 0 0;
}
#Pop_srcbox .popbox .ttlbx .close {
	float: right;
	line-height: 1;
	text-align: center;
	width: 40px;
	background: #fff;
}
#Pop_srcbox .popbox .ttlbx .close a {
	display: block;
	padding: 10px 0;
}
#Pop_srcbox .popbox .popin {
	background: #c8ecfa;
	padding: 10px 5px;
}
#Pop_srcbox .popbox .popin .tx {
	margin: 0 0 5px;
}
#Pop_srcbox .popbox .popin .popct {
	background: #fff;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	margin: 0 0 10px;
}
#Pop_srcbox .popbox .popin .popct ul {
	border-bottom: 1px dotted #cacaca;
	display: table;
	letter-spacing: -0.4em;
	width: 100%;
}
#Pop_srcbox .popbox .popin .popct ul:last-child {
	border-bottom: 0;
}
#Pop_srcbox .popbox .popin .popct ul li {
	border-right: 1px dotted #cacaca;
	display: table-cell;
	letter-spacing: normal;
	vertical-align: middle;
	text-align: left;
	width: 50%;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#Pop_srcbox .popbox .popin .popct ul.all li {
	width: 100%;
	border-right: 0;
}
#Pop_srcbox .popbox .popin .popct ul li:nth-child(2n) {
	border-right: 0;
}
#Pop_srcbox .popbox .popin .popct ul li label {
	padding: 5px;
	display: block;
}
#Pop_srcbox .popbox .popin .popct ul li input {
	margin: 0 5px 0 0;
}
#Pop_srcbox .popbox .popin .btnbox p {
	text-align: center;
	line-height: 1;
	float: left;
	width: 49%;
}
#Pop_srcbox .popbox .popin .btnbox p:last-child {
	margin: 0 0 0 2%;
}
#Pop_srcbox .popbox .popin .btnbox p a {
	padding: 10px;
	color: #fff;
	background: #00a0e9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: block;
}
#Pop_srcbox .popbox .popin .btnbox .clear a {
	color: #fff;
	background: #a2a3a3;
}
#Pop_srcbox .popbox .popin .txbbox {
	background: #fff;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	margin: 0 0 10px;
}
#Pop_srcbox .popbox .popin .txbbox ul li {
	border-bottom: 1px dotted #cacaca;
	line-height: 1;
}
#Pop_srcbox .popbox .popin .txbbox ul li:last-child {
	border-bottom: 0;
}
#Pop_srcbox .popbox .popin .txbbox ul li a {
	display: block;
	padding: 10px;
	font-weight: 700;
	font-size: 14px;
}
#Pop_srcbox .popbox .popin .txbbox ul li a span {
	background: url('../../images/re/dec_arw_bl.png') right 50% no-repeat;
	background-size: 8px auto;
	-moz-background-size: 8px auto;
	-webkit-background-size: 8px auto;
	display: block;
}
#Pop_srcbox .popbox .popin .areain {
	display: none;
	margin: 0 0 10px;
}
#Pop_srcbox .popbox .popin .areain .areact {
	background: #fff;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	margin: 0 0 10px;
}
#Pop_srcbox .popbox .popin .areain .areact ul {
	border-bottom: 1px dotted #cacaca;
	display: table;
	letter-spacing: -0.4em;
	width: 100%;
}
#Pop_srcbox .popbox .popin .areain .areact ul:last-child {
	border-bottom: 0;
}
#Pop_srcbox .popbox .popin .areain .areact ul li {
	border-right: 1px dotted #cacaca;
	display: inline-block;
	letter-spacing: normal;
	vertical-align: middle;
	text-align: left;
	width: 50%;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#Pop_srcbox .popbox .popin .areain .areact ul li:nth-child(2n) {
	border-right: 0;
}
#Pop_srcbox .popbox .popin .areain .areact ul li label {
	padding: 10px;
	display: block;
}
#Pop_srcbox .popbox .popin .areain .areact ul li input {
	margin: 0 5px 0 0;
}
#Pop_srcbox .popbox .popin .areain .back {
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 0 5px;
	text-align: center;
	line-height: 1;
	width: 80px;
	background: url('../../images/re/dec_arw_bl_lft.png') 10px 50% no-repeat #fff;
	background-size: 8px auto;
	-moz-background-size: 8px auto;
	-webkit-background-size: 8px auto;
}
#Pop_srcbox .popbox .popin .areain .back a {
	font-weight: 700;
	padding: 10px;
	display: block;
}
#Pop_srcbox .popbox .popin .chkbx {
	border: 1px solid #00aaeb;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px;
	margin: 0 0 10px;
}
#Pop_srcbox .popbox .popin .chkbx p {
	line-height: 1.4;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.com_ttlbox {
	border-top: 2px solid #00acec;
	padding: 10px;
}
.com_ttlbox.pk {
	border-top: 2px solid #f55b7d;
}
.com_ttlbox.or {
	border-top: 2px solid #ed7c27;
}
.com_ttlbox h2 {
	font-size: 13px;
	font-weight: 700;
	line-height: 1;
}
.com_bnrbox {
	margin: 0 auto 10px;
}
.com_bnrbox p {
	text-align: center;
	margin: 0 0 10px;
}
.com_bnrbox p:last-child {
	margin: 0;
}
.com_t3wkbx {
	margin: 10px;
	background: #eee;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.com_t3wkbx ul li {
	border-bottom: 2px solid #fff;
	line-height: 1;
}
.com_t3wkbx ul li:last-child {
	border-bottom: 0;
}
.com_t3wkbx ul li a {
	display: block;
	padding: 14px 10px;
}
.com_t3wkbx ul li .t3wkin .icn span {
	padding: 3px 5px;
	background: #76d4fa;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	display: block;
}
.com_t3wkbx ul li .t3wkin .icn,
.com_t3wkbx ul li .t3wkin .tx {
	display: table-cell;
	letter-spacing: normal;
	text-align: left;
	vertical-align: top;
	font-size: 13px;
}
.com_t3wkbx ul li .t3wkin .tx {
	line-height: 1.4;
	padding: 0 10px;
	background: url('../../images/re/dec_arw_gry.png') right 50% no-repeat;
	background-size: 7px auto;
	-moz-background-size: 7px auto;
	-webkit-background-size: 7px auto;
}
.com_t3wkbx ul li .t3wkin {
	display: table;
	letter-spacing: -0.4em;
	width: 100%;
}
.com_drybox {
	margin: 0 10px 10px;
}
.com_drybox .ttl {
	border: 1px solid #d0d0d0;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startcolorstr=#ffffff, endcolorstr=#f2f2f2));
	-ms-filter: 'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#ffffff, endcolorstr=#f2f2f2))';
	zoom: 1;
	background: -moz-linear-gradient(top, #fff, #f2f2f2);
	background: -webkit-gradientf(linear, left top, left bottom, from(#fff), to(#f2f2f2));
	background: linear-gradient(to bottom, #fff, #f2f2f2);
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	text-align: center;
	padding: 4px 0;
}
.com_drybox .dryin .mr_btn a,
.com_stepbox .gud_btn a {
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startcolorstr=#ffffff, endcolorstr=#f2f2f2));
	border-radius: 5px;
	font-size: 13px;
	zoom: 1;
}
.com_drybox .dryin {
	border-left: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	padding: 0 10px 10px;
}
.com_drybox .dryin ul {
	margin: 0 0 10px;
}
.com_drybox .dryin ul li {
	border-bottom: 1px dotted #cacaca;
}
.com_drybox .dryin ul li a {
	padding: 5px 0;
	display: block;
	background: url('../../images/re/dec_arw_gry.png') right 50% no-repeat;
	background-size: 7px auto;
	-moz-background-size: 7px auto;
	-webkit-background-size: 7px auto;
}
.com_drybox .dryin ul li .dryct {
	display: table;
	letter-spacing: -0.4em;
	width: 100%;
}
.com_drybox .dryin ul li .dryct p {
	display: table-cell;
	letter-spacing: normal;
	text-align: left;
	vertical-align: middle;
}
.com_drybox .dryin ul li .dryct .img {
	width: 40px;
}
.com_drybox .dryin ul li .dryct .txt {
	padding: 0 0 0 10px;
	font-size: 13px;
	line-height: 1.6;
}
.com_drybox .dryin .mr_btn,
.com_everybox .gud_btn,
.com_stepbox .gud_btn {
	line-height: 1;
	text-align: center;
}
.com_drybox .dryin .mr_btn a {
	padding: 10px;
	-ms-filter: 'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#ffffff, endcolorstr=#f2f2f2))';
	background: -moz-linear-gradient(top, #fff, #f2f2f2);
	background: -webkit-gradientf(linear, left top, left bottom, from(#fff), to(#f2f2f2));
	background: linear-gradient(to bottom, #fff, #f2f2f2);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: block;
	border: 1px solid #ebebeb;
}
.com_drybox .dryin .mr_btn a span {
	padding: 0 0 0 18px;
	background: url('../../images/re/dec_arw_rund_pk.png') 0 50% no-repeat;
	background-size: 10px auto;
	-moz-background-size: 10px auto;
	-webkit-background-size: 10px auto;
}
.com_stepbox {
	margin: 0 auto 10px;
	width: 300px;
	position: relative;
}
.com_stepbox .app_btn {
	position: absolute;
	top: 180px;
	left: 155px;
}
.com_stepbox .gud_btn {
	position: absolute;
	top: 239px;
	left: 11px;
	width: 278px;
}
.com_stepbox .gud_btn a {
	padding: 10px;
	-ms-filter: 'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#ffffff, endcolorstr=#f2f2f2))';
	background: -moz-linear-gradient(top, #fff, #f2f2f2);
	background: -webkit-gradientf(linear, left top, left bottom, from(#fff), to(#f2f2f2));
	background: linear-gradient(to bottom, #fff, #f2f2f2);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: block;
	border: 1px solid #ebebeb;
}
.com_stepbox .gud_btn a span {
	padding: 0 0 0 18px;
	background: url('../../images/re/dec_arw_rund_bl.png') 0 50% no-repeat;
	background-size: 10px auto;
	-moz-background-size: 10px auto;
	-webkit-background-size: 10px auto;
}
.com_everybox {
	margin: 0 auto 10px;
	width: 300px;
	position: relative;
}
.com_everybox .app_btn {
	position: absolute;
	top: 130px;
	left: 0;
	padding: 0 10px;
}
.com_everybox .gud_btn {
	position: absolute;
	top: 170px;
	left: 11px;
	width: 278px;
}
.com_everybox .gud_btn a {
	padding: 10px;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startcolorstr=#ffffff, endcolorstr=#f2f2f2));
	-ms-filter: 'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#ffffff, endcolorstr=#f2f2f2))';
	zoom: 1;
	background: -moz-linear-gradient(top, #fff, #f2f2f2);
	background: -webkit-gradientf(linear, left top, left bottom, from(#fff), to(#f2f2f2));
	background: linear-gradient(to bottom, #fff, #f2f2f2);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: block;
	font-size: 13px;
	border: 1px solid #ebebeb;
}
.com_everybox .gud_btn a span {
	padding: 0 0 0 18px;
	background: url('../../images/re/dec_arw_rund_bl.png') 0 50% no-repeat;
	background-size: 10px auto;
	-moz-background-size: 10px auto;
	-webkit-background-size: 10px auto;
}
.com_txtbox {
	padding: 10px;
	border: 1px solid #c8ecfa;
	background: #ebf9ff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 10px 10px;
}
.com_txtbox p {
	line-height: 1.6;
}
.com_appbox {
	margin: 0 10px 10px;
	border: 1px solid #00a0e9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px;
}
.com_appbox .tl {
	text-align: center;
	margin: 0 0 10px;
}
.com_appbox .btn {
	text-align: center;
	line-height: 1;
}
.com_appbox .btn a {
	padding: 10px;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startcolorstr=#ff9e00, endcolorstr=#fe8300));
	-ms-filter: 'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#ff9e00, endcolorstr=#fe8300))';
	zoom: 1;
	background: -moz-linear-gradient(top, #ff9e00, #fe8300);
	background: -webkit-gradientf(linear, left top, left bottom, from(#ff9e00), to(#fe8300));
	background: linear-gradient(to bottom, #ff9e00, #fe8300);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: block;
	font-size: 15px;
	color: #fff;
	border: 1px solid #ff8500;
}
.com_appbox .btn a span {
	background: url('../../images/re/dec_arw_wh.png') right 50% no-repeat;
	background-size: 8px auto;
	-moz-background-size: 8px auto;
	-webkit-background-size: 8px auto;
	display: block;
}
.com_snsbox {
	width: 96%;
	margin: 0 auto 10px;
}
.com_snsbox ul {
	width: 100%;
	display: table;
	letter-spacing: -0.4em;
}
.com_snsbox ul li {
	width: 33%;
	letter-spacing: normal;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border-right: 4px solid #fff;
}
.com_snsbox ul li:last-child {
	width: 34%;
	border-right: 0;
}
.com_snsbox ul li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: block;
	padding: 10px;
}
.com_snsbox ul li.fb a {
	background: #3a5896;
}
.com_snsbox ul li.tw a {
	background: #55acee;
}
.com_snsbox ul li.gp a {
	background: #db4e41;
}
.h2_common {
	height: 28px;
	color: #fff;
	text-align: center;
	padding-top: 7px;
	background: #00a1e9;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	line-height: 1.5;
}
#breadcrumb_list {
	padding: 5px 10px;
	font-size: 90%;
}
.src_btnbox {
	margin: 10px auto !important;
	width: 96%;
}
.src_btnbox ul {
	width: 100%;
	display: table;
	letter-spacing: -0.4em;
}
.src_btnbox ul li {
	width: 33%;
	letter-spacing: normal;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border-right: 4px solid #fff;
}
.src_btnbox ul li p a,
.src_btnbox ul li p input {
	display: block;
	padding: 22px 0 5px;
	color: #fff;
	font-size: 11px;
	font-weight: 700;
	line-height: 1;
}
.src_btnbox ul li:last-child {
	width: 34%;
	border-right: 0;
}
.src_btnbox ul li p {
	width: 100%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: -moz-linear-gradient(top, #fc7a32, #f96524);
	background: -webkit-gradient(linear, left top, left bottom, from(#fc7a32), to(#f96524));
	border-top: 1px solid #fc7a32;
}
.src_btnbox ul li p input {
	border: 0;
	border-top: 1px solid #fda270;
	width: 100%;
}
.src_btnbox ul li.str input {
	background: url('/sp/search/images/icn_star.png') 50% 4px no-repeat;
	background-size: auto 11px;
	-moz-background-size: auto 11px;
	-webkit-background-size: auto 11px;
}
.src_btnbox ul li.clk input {
	background: url('/sp/search/images/icn_clock.png') 50% 4px no-repeat;
	background-size: auto 11px;
	-moz-background-size: auto 11px;
	-webkit-background-size: auto 11px;
}
.src_btnbox ul li.pls input {
	background: url('/sp/search/images/icn_plus.png') 50% 4px no-repeat;
	background-size: auto 11px;
	-moz-background-size: auto 11px;
	-webkit-background-size: auto 11px;
}
.src_btnbox ul li p a {
	border: 0;
	border-top: 1px solid #fda270;
	width: 100%;
}
.src_btnbox ul li.str a {
	background: url('/sp/search/images/icn_star.png') 50% 4px no-repeat;
	background-size: auto 11px;
	-moz-background-size: auto 11px;
	-webkit-background-size: auto 11px;
}
.src_btnbox ul li.clk a {
	background: url('/sp/search/images/icn_clock.png') 50% 4px no-repeat;
	background-size: auto 11px;
	-moz-background-size: auto 11px;
	-webkit-background-size: auto 11px;
}
.src_btnbox ul li.pls a {
	background: url('/sp/search/images/icn_plus.png') 50% 4px no-repeat;
	background-size: auto 11px;
	-moz-background-size: auto 11px;
	-webkit-background-size: auto 11px;
}
#top_alert {
	background: #f4f4f4;
	padding: 7px 10px;
	font-size: 10px;
	text-align: center;
	margin: 0 0 5px;
}
